<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	body{
		font-size: 20px;
	}
	section{
		margin: 20px, 40px;
	}
	table{
		border-collapse: collapse;
	}
	th, td{
		border: 1px solid black;
	}
	u {
	   text-decoration : none;
	   border-bottom : 4px double black;
	   padding-bottom : 5px;
	}
	h1{
		text-align: center;
	}
	section{
		margin : 40px;
	}
	.bottom{
		margin-top:50px;
		margin-left:150px;
	}
	.contract-content{
		margin-top: 10px;
		margin-left: 50px;
	}
	.bank-content{
		margin-top:30px;
		margin-left:150px;
	}
	.btnPrint{
		margin-top: 30px;
	}
	@media print{
		.btnPrint{
			display:none;
		}
	}
</style>
<script src="../../plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
	

	$('.priceKor').each(function(){
		$(this).text(viewKorean($(this).text())); //가격 숫자->한글 
	})
	$('.price').each(function(){
		$(this).text(numberFormat($(this).text())) //숫자 콤마
	})
 	$('.date').each(function(){
		$(this).text(dateForm($(this).text())); //날짜 년월일
	}) 
	
	function dateForm(inputDate){
		var date = new Date(inputDate);
		var month = date.getMonth()+1;
		month = (month<10)?("0"+month):month;
		var day = date.getDate();
		day = (day<10)?("0"+day):day;
		return date.getFullYear()+"년 "+month+"월 "+day+"일";
	}
	function viewKorean(num) { 
		var hanA = new Array("","일","이","삼","사","오","육","칠","팔","구","십"); 
		var danA = new Array("","십","백","천","","십","백","천","","십","백","천","","십","백","천"); 
		var result = "";
		for(i=0; i<num.length; i++) { 
			str = ""; 
			han = hanA[num.charAt(num.length-(i+1))]; 
			if(han != "") str += han+danA[i]; 
			if(i == 4) str += "만"; 
			if(i == 8) str += "억"; 
			if(i == 12) str += "조"; 
			result = str + result; 
		} 
		result = "금"+result+"원정";
		return result ; 
	}
	function numberFormat(inputNumber) {
	   return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
	
	
	$('.btnPrint').click(function(){
		var browser = navigator.userAgent.toLowerCase();
          if ( -1 != browser.indexOf('chrome') ){
                     window.print();
          }else if ( -1 != browser.indexOf('trident') ){
             try{
                      var webBrowser = '<OBJECT ID="previewWeb" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
                      document.body.insertAdjacentHTML('beforeEnd', webBrowser);
                      previewWeb.ExecWB(7, 1);
                      previewWeb.outerHTML = "";
             }catch (e) {
                      alert("- 도구 > 인터넷 옵션 > 보안 탭 > 신뢰할 수 있는 사이트 선택\n   1. 사이트 버튼 클릭 > 사이트 추가\n   2. 사용자 지정 수준 클릭 > 스크립팅하기 안전하지 않은 것으로 표시된 ActiveX 컨트롤 (사용)으로 체크\n\n※ 위 설정은 프린트 기능을 사용하기 위함임");
             }
                    
          }
	})
})
</script>
</head>
<body>
<div class="content-wrapper">
	<h1><u>A/S 수리비 청구서</u></h1>
	<br>
	  <div id="container" >
		<section>  
			
			<p>
				귀하 <span>김철수</span>은(/는) <span>본사</span>의 상품 모델 <span>goo_0001, Sony</span>의 A/S를 이용하여 다음과 같이 금액을 청구합니다.		
				
			</p>
			
			<br><br><br>
			<div style="text-align: center">	-다  &emsp; 음-   </div>
			<br><br><br>
			<p>○수리비:  금일십만원(\100,000)
			</p>                              
			        
			<p>○출장비: 금일만팔천원 (\18,000)
			</p>
			
			<p>○합계: 금일십만팔천원(\118,000)
			</p>		  				 
			
		</section>
		
		<section>
		○ 계좌입금내용 </br>
		<div class="bank-content"> 
			<table>
				<tr>

					<td>은  행  명</td>
					<td><span>농협</span></td>
			 	</tr>
				<tr>
					<td>계 좌 번 호</td>
					<td><span>000-00000-0000</span></td>
			 	</tr>
				<tr>
					<td>예  금  주</td>
					<td><span>(주)한국스마트정보</span></td>
	  			</tr>
  			</table>
  		</div>
  		</section>
		<section>
		
			<div>
			<span>2019년 04월 28일</span> 
			
			<br><br>
			 
			 A/S담당자:         <span>서기사</span>  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; (인)
			 
			 <br></br>
                             (휴대폰번호 : <span>010-1111-1114</span>)
			</br></br>
  
  
  
  <span>본사</span>(부,사)장: 김시현       <span></span>  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; (인)
			
		   </div>
	  	</section>
	  	</div>
	  	
	  	
	  	<div class="bottom"> 
		<div style="text-align: center;">
			<button class="btnPrint" onclick="estimatePrint()" type="button">인쇄하기</button>
		</div>
	  </div>
</div>
</body>
</html>