<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>

<th:block layout:fragment="customTitle">
	<title>rdList.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
     <section class="content-header">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>A/S 비용 청구 현황 목록</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
	
	 <!--  검색 -->
     <section class="content-header">  
      <div class="container-fluid">   
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">검색창</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	  <button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
	            <div class="form-group" style="padding-bottom: 15px;">	
	            	<label>고객명</label>
					<div style="display: inline-block;">
						<input type="text" class="form-control">
				    </div> 
				    
				    <label>금액</label>
					<div style="display: inline-block;">
						<input type="number" class="form-control">
				    </div> 
				    				    				   
				    
				    <label>청구일</label>
					<div style="display: inline-block;">
						<input type="date" class="form-control">
				    </div> 
				    ~
				    <div style="display: inline-block;">
						<input type="date" name="updateDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
				    </div> 
				<!-- sv  -->      	          		          
				    <div style="display: inline-block;margin-left:0px;">
				    	<button type="submit" class="btn btn-info">
				           		검색
				        </button>
				    </div>		           
				</div>
              </div>             
            </div>
          </div>
      </div>
    </section>
    <!--검색 end-->
	  
  <section class="content">
  	<div class="container-fluid">
	<div class="card">
	 <div class="card-body" style="margin-top:20px">
	 	
	  	<table id="example2" class="table table-bordered table-hover">
	    	<thead>
                <tr>
                  <th>청구 번호</th>
                  <th>수리 현황 번호</th> 
                  <th>고객명</th> 
                  <th>청구 금액</th>  
                  <th>입금 여부</th>              
                  <th>청구일</th>
                  <th>상세보기</th>
                  <th>삭제</th>
                </tr>
	         </thead>
             <tbody>
              <tr>
           	    <td>claim_code01</td>
                <td>repair_code</td>
                <td>이아무개</td>
                <td>15000</td>
                <td>Y</td>
                <td>0000-00-00</td>            
                <td> 
					<a class="btn btn-primary btn-sm" th:href="@{/rdUpdate}">
	                   <i class="fas fa-folder">
	                   </i>
	                    	확인
	                </a>    		
				</td>
				<td>							
					<a class="btn btn-danger btn-sm" th:href="@{/rdDelete}" id="btn-remove">
                       <i class="fas fa-trash">
                       </i>
                            	 삭제
                    </a>
				</td>						
              </tr>
             </tbody>
		</table>
	  </div>
	 </div>
      	
    </div>
    
  </section>
  </div>
 </th:block>

<!-- jQuery -->
<!-- Page script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

</body>
</html>