<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>estimateInsert.html</title>
</th:block>

<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
<div class="content-wrapper">
	아이디  <input type="text">
	이름<input type="text"><br>
	전화번호<input type="text">
	이메일 주소<input type="text"><br>
	담당자<input type="text">
	<button id="customerSerch">고객 검색</button><br><br><br>
	<input type="date" name="rentalFromDate">~<input type="date" name="rentalToDate"><br>
	<button>상품 검색</button><input type="number">개	<br>	
	<button>세트 검색</button><input type="number">개	<br>	
	<button id="staffSerch">담단자 검색</button>			

</div>

<script src="plugins/jquery/jquery.min.js"></script>
<script>
	$(function(){
		$('#customerSerch').on('click',function(){
			console.log("customerSerch");
			
			$.ajax({
				type : 'post',
				url : '/ajaxCustomerList',
				dataType : "json",
				data : {},
				success : function(data){
					console.log(data);
				},
				error : function(error){
					console.log('error', error);
				}
			})


		})
		$('#staffSerch').on('click',function(){
			console.log("staffSerch");
		})
	})
</script>

</th:block>
</body>
</html>