<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
  <head>
    <meta charset="UTF-8" />
    <th:block layout:fragment="customTitle">
      <title>index</title>
    </th:block>

    <style>
      .list-actived {
        background-color: bisque;
      }
      body::-webkit-scrollbar {
        display: none;
      }
      div::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <th:block layout:fragment="customContents">
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <div style="padding: 20px;">
              <div class="row">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="/ 키를 눌러서 이곳으로 커서를 이동"
                  />
                </div>
                <div class="col-md-6">
                  <button id="insert-form-btn" class="btn btn-outline-primary">
                    <i class="fa fa-plus-square"> 새로운상품</i>
                  </button>
                  <button
                    id="goods-category-form-btn"
                    class="btn btn-outline-dark"
                  >
                    <i class="fa fa-cog"> 분류관리</i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="card card-success">
                  <div class="card-header">
                    상품리스트
                  </div>
                </div>
                <div class="card-body" style="height: 800px; overflow:auto;">
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-8">
                      <div class="form-group my-auto">
                        <select
                          class="form-control"
                          id="dynamic-goods-category-select"
                        ></select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group my-auto">
                        <select class="form-control">
                          <option>최신등록순</option>
                          <option>오래된등록순</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div id="list-div"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="form-div" style="height: 800px; overflow:auto;"></div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Modal div -->
      <div id="modal-div"></div>

      <!-- axios cdn -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- 스크립트 -->
      <script src="../js/modal-functions.js"></script>
      <script src="../js/goods-category-functions.js"></script>
      <script src="../js/goods-functions.js"></script>

      <script>
      renderGoodsList();
      renderIntroForm();
      renderDynamicGoodsCategory();

      // 렌더링 이벤트

      $(document).on("click", "#cancle-btn", () => {
        renderIntroForm();
      });

      $(document).on("click", "#insert-form-btn", () => {
        renderInsertForm();
      });

      $(document).on("click", ".view-form-btn", e => {
        renderViewForm(e.target.name);
      });

      $(document).on("click", "#update-form-btn", e => {
        renderUpdateForm(e.target.name);
      });

      $(document).on("click", "#goods-category-form-btn", e => {
        renderCategoryForm();
      });
      
      $(document).on("click", "#goods-category-add-btn", e => {
         renderGoodsCategoryAddModal();
      });

      // 기능 이벤트

      $(document).on("click", "#file-input", e => {
        removePreview();
      });

      $(document).on("input", "#file-input", e => {
        imageUpload(e);
      });

      $(document).on("submit", "#insert-form", e => {
        e.preventDefault();
        insertGoods();
      });

      $(document).on("click", "#delete-btn", e => {
        deleteGoods(e);
      });

      $(document).on("click", "#update-btn", e => {
        e.preventDefault();
        updateGoods(e);
      });

      $(document).on("click", "#goods-category-insert-btn", e => {
        e.preventDefault();
        insertGoodsCategory();
      });
      </script>
    </th:block>
  </body>
</html>
