<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
  <th:block layout:fragment="customTitle">
    <title>index</title>
  </th:block>

  <body class="hold-transition sidebar-mini layout-fixed">
    <th:block layout:fragment="customContents">
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <div style="padding: 20px;"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    입/출고
                  </div>
                  <div class="card-body" style="height: 800px; overflow:auto;">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-sm-4 my-auto">입고/출고</label>
                          <div class="col-sm-6">
                            <label>
                              <input
                                type="radio"
                                name="in/dec"
                                value="increase"
                              />
                              입고
                            </label>
                            <label>
                              <input
                                type="radio"
                                name="in/dec"
                                value="decrease"
                              />
                              출고
                            </label>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-4 my-auto">상품명</label>
                          <div class="col-sm-6">
                            <input
                              name="goodsCode"
                              value="${res.data.goodsCode}"
                              class="form-control-plaintext"
                              readonly
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-4 my-auto">거래액</label>
                          <div class="col-sm-6">
                            <input
                              name="goodsCode"
                              value="${res.data.goodsCode}"
                              class="form-control-plaintext"
                              readonly
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 my-auto">거래수량</label>
                          <div class="col-sm-6">
                            <input
                              name="goodsCode"
                              value="${res.data.goodsCode}"
                              class="form-control-plaintext"
                              readonly
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 my-auto">날짜</label>
                          <div class="col-sm-6">
                            <input
                              name="goodsCode"
                              value="${res.data.goodsCode}"
                              class="form-control-plaintext"
                              readonly
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-outline-primary">
                          입력
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <script></script>
    </th:block>
  </body>
</html>
