<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>pInsert.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
 	<form role="form"> 
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div> 
       
		<!--정기점검 등록  -->	 
	  	<div class="container-fluid">	
		<div class="card card-info">
	              <div class="card-header">
	                <h3 class="card-title">정기점검 등록</h3>
	              </div>
	                <div class="card-body">  
					
					   <!-- 고객 검색 팝업창 버튼 시작-->	
		               <div class="form-group">  
							<button type="button" id="customerSearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인고객 검색</i>   
							</button>										
					   
					   		<button type="button" id="customerCompanySearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인사업자/법인고객 검색</i>   
							</button>	
					   </div>
				       <!-- 고객 검색 팝업창 버튼 끝-->
				      
				      
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 아이디</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerId" name="customerId" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerName" name="customerName" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 연락처</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerCall" name="customerCall" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">우편 번호</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="zipCode" name="zipCode" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">기본 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress" name="customerAddress" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">상세 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress2" name="customerAddress2" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                                                     
	                   &emsp;
	                   <!-- 계약서 검색 팝업창 버튼 시작-->	
		               <div class="form-group">  
							<button type="button" id="contractSearchList" class="btn btn-success">
								<i class="fas fa-search">계약서 검색</i>   
							</button>										
					   </div>
				       <!-- 계약서 검색 팝업창 버튼 끝-->			
	
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 코드</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractCode" name="contractCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 No</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractNo" name="contractNo" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품코드</label>
	                   <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsCode"  name="goodsCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsName" name="goodsName" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	      
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 시작 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="rentalFromDate" name="rentalFromDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 종료 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="rentalToDate" name="rentalToDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                 
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">점검일</label>
	                  <div class="form-group row">
		                  <div class="col-sm-10">	               		                   
		                    <input type="date" name="checkDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
		                  </div>                  
	           		  </div>   
	           		  
	           		  <label for="inputEmail3" class="col-sm-2 col-form-label">제품 상태</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <select class="form-control" id="inputEmail3" name="productStatus">
	                      	<option selected disabled>::제품 상태::</option>
			                  <option>A</option>
			                  <option>F</option>
	                      </select>
	                    </div>
	                  </div>
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">점검 내용</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" name="checkContents" class="form-control">
	                    </div>
	                  </div>
	                  
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">점검 지점 코드</label>
                   		<div class="input-group mb-3" style="width: 300px;">
	                      <input type="text" name="branchCode" class="form-control" style="width: 200px;">
	                    	 <button type="button" id="branchSearchList" class="btn btn-success" style="margin-left: 10px;">
								<i class="fas fa-search"></i>   
							 </button>
	                    </div>
	                    
	                     <label for="inputEmail3" class="col-sm-2 col-form-label">점검 기사 아이디</label>
	                 	 <div class="input-group mb-3" style="width: 300px;">
		                      <input type="text" name="staffId" class="form-control" style="width: 200px;">  		                    
		                 </div>
	                  
	                  </div>
	                  
	                                 
	                   
	                <!-- /.card-body -->
	                <div class="card-footer">
	                  <button id="submit"  class="btn btn-info">등록</button>
	                   <a th:href="@{/index}" class="btn btn-default float-right">취소</a>
	                  
	                </div>
	                </div>
	                </div>
	                
	                <!-- /.card-footer -->
	   </section>
	 </form>   
	</div>
	
	     

 
 <script>
 
 $('#customerSearchList').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력 
     console.log('click');
     popupOpen();	//Popup Open 함수
     
     function popupOpen(){
 		var url= "/customerSearchModal";    //팝업창 페이지 URL
 		var winWidth = 977;
 	    var winHeight = 510;
 	    var popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
 		window.open(url,"",popupOption);
 	}

 });

	
 
  $('#customerCompanySearchList').click(function(event){ 
	  console.log('click');
	  popupOpen();	
	  
	  function popupOpen(){
			var url= "/customerCompanySearchModal";    
			var winWidth = 977;
	 	    var winHeight = 510;
		    var popupOption= "width="+winWidth+", height="+winHeight;    
			window.open(url,"",popupOption);
		}
		
	
	
  
  });
  
  
  
  $('#contractSearchList').click(function(event){ 
	  console.log('click');
	  popupOpen();	
	  
	  function popupOpen(){
			var url= "/contractSearchModal";    
			var winWidth = 965;
		    var winHeight = 600;
		    var popupOption= "width="+winWidth+", height="+winHeight;    
			window.open(url,"",popupOption);
		}
		
	
	
  
  });
 
  $('#branchSearchList').click(function(event){ 
	  console.log('click');
	  popupOpen();	
	  
	  function popupOpen(){
			var url= "/branchSearchModal";    
			var winWidth = 952;
		    var winHeight = 599;
		    var popupOption= "width="+winWidth+", height="+winHeight;    
			window.open(url,"",popupOption);
		}
		
	
	
  
  });
  
  
  $('#staffSearchList').click(function(event){ 
	  console.log('click');
	  popupOpen();	
	  
	  function popupOpen(){
			var url= "/staffSearchModal";    
			var winWidth = 952;
		    var winHeight = 599;
		    var popupOption= "width="+winWidth+", height="+winHeight;    
			window.open(url,"",popupOption);
		}
		
	
	
  
  });
  
  
  
  /*개인고객 유효성 검사 시작  */
	
	$('#submit').click(function(){
		
		var customerId = $('input[name=customerId]').val();
		var customerName = $('input[name=customerName]').val();
		var customerCall = $('input[name=customerCall]').val();		
		var zipCode = $('input[name=zipCode]').val();
		var customerAddress = $('input[name=customerAddress]').val();
		var customerAddress2 = $('input[name=customerAddress2]').val();
		var contractCode = $('input[name=contractCode]').val();
		var contractNo = $('input[name=contractNo]').val();
		var goodsCode = $('input[name=goodsCode]').val();
		var goodsName = $('input[name=goodsName]').val();
		var rentalFromDate = $('input[name=rentalFromDate]').val();
		var rentalToDate = $('input[name=rentalToDate]').val();
		var checkDate = $('input[name=checkDate]').val();
		var productStatus = $('input[name=productStatus]').val();
		var checkContents = $('input[name=checkContents]').val();
		var branchCode = $('input[name=branchCode]').val();
		var staffId = $('input[name=staffId]').val();
		var formObj = $("form[role='form']"); 		
		
		if(customerId == ''){
			alert('고객 아이디를 입력해주세요.');
			return false; 			
		 }else if(customerName == ''){
			alert('고객명을 입력해주세요.');
			return false;
		}else if(customerCall == ''){
			alert('고객 연락처를 입력해주세요.');
			return false;
		}else if(zipCode == ''){
			alert('우편번호를 입력해주세요.');
			return false;
		}else if(customerAddress == ''){
			alert('기본주소를 입력해주세요.');
			return false;
		}else if(customerAddress2 == ''){
			alert('상세주소를 입력해주세요.');
			return false;
		}else if(contractCode == ''){
			alert('계약코드를 입력해주세요.');
			return false;
		}else if(contractNo == ''){
			alert('계약No를 입력해주세요.');
			return false;
		}else if(goodsCode == ''){
			alert('상품코드를 입력해주세요.');
			return false;
		}else if(goodsName == ''){
			alert('상품명을 입력해주세요.');
			return false;
		}else if(rentalFromDate == ''){
			alert('렌탈 시작 일자를 입력해주세요.');
			return false;
		}else if(rentalToDate == ''){
			alert('렌탈 종료 일자를 입력해주세요.');
			return false;
		}else if(checkDate == ''){
			alert('점검일을 입력해주세요.');
			return false;
		}else if(productStatus == ''){
			alert('제품상태를 입력해주세요.');
			return false;
		}else if(checkContents == ''){
			alert('점검 내용을 입력해주세요.');
			return false;
		}else if(branchCode == ''){
			alert('지점 코드를 입력해주세요.');
			return false;
		}else if(staffId == ''){
			alert('기사님의 아이디를 입력해주세요.');
			return false;
		}
		
	
		
		formObj.attr("action","/pInsert");    
	    formObj.attr("method", "post");            
	    formObj.submit();
		alert("등록이 완료되었습니다.");
		
		
	})
	
	
	
	/*개인고객 유효성 검사 끝  */


</script>  
  

  
</th:block>
</body>
</html>