<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>

<th:block layout:fragment="customTitle">
	<title>pList.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
     <section class="content-header">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>정기점검 현황</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
       
       <!-- 정기점검 대상자별 검색 -->
      <div class="container-fluid">   
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">정기점검 대상자별 조회</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	  <button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <!-- 1 -->
              <div class="col-md-6">
              		<select class="form-control" style="width: 130px;">    
                   		<option>고객명</option>                            	
                   	</select>
                   	
              </div>
              <div class="col-md-6">
              		<input type="text" class="form-control" style="width: 250px; margin-left: -540px;">             					              	
              </div>
              
              <div class="col-md-6" style="max-width: 10%; margin-left: -550px; ">
              		<button type="submit" id="contractBtn" class="btn btn-info" style="margin-left: -410px;">
		           		검색
		           	</button>
              </div>
              <!-- 2 -->
              
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- 정기점검 대상자별 검색 end-->
    
       <!-- 지점별 검색 -->
     <section class="content-header">  
      <div class="container-fluid">   
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">지점별 정기점검 조회</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	  <button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <!-- 1 -->
              <div class="col-md-6">
              		<select class="form-control" style="width: 130px;">    
                   		<option>지점코드</option>                            	
                   	</select>
                   	
              </div>
              <div class="col-md-6">
              		<input type="text" class="form-control" style="width: 250px; margin-left: -540px;">             					              	
              </div>
              
              <div class="col-md-6" style="max-width: 10%; margin-left: -550px; ">
              		<button type="submit" id="contractBtn" class="btn btn-info" style="margin-left: -410px;">
		           		검색
		           	</button>
              </div>
              <!-- 2 -->
              
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
   </section>   
    <!-- 지점별 검색 end-->
    
    
      <!-- 기간별 검색 -->
     <section class="content-header">  
      <div class="container-fluid">   
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">기간별 정기점검 조회</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	  <button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
                	<div class="form-group">
	                  <div class="input-group">
	                    <div class="input-group-prepend">
	                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
	                    </div>
	                    <input type="date" name="updateDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
	                  </div>                  
           		   </div> 
           		   
           		   ~  
           		   
           		   <div class="form-group">
	                  <div class="input-group">
	                    <div class="input-group-prepend">
	                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
	                    </div>
	                    <input type="date" name="updateDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
	                  </div>                  
           		   </div> 
                 
                  <div class="col-5">
		           	<button type="submit" class="btn btn-info" style="margin-left:0px;">
		           		검색
		           	</button>
		           </div>			                             
                </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
   </section>   
    <!-- 지점별 검색 end-->
    
    
    
    
  <section class="content">
  	<div class="container-fluid">

	<div class="card">
	 <div class="card-body" style="margin-top:20px">
	  	<table id="example2" class="table table-bordered table-hover">
	    	<thead>
                <tr>
                  <th>점검 번호</th>
                  <th>지점명</th> 
                  <th>고객명</th>
                  <th>상품코드</th>              
                  <th>상품 상태</th>
                  <th>점검 기사명</th>
                  <th>점검완료일</th>
                  <th>상세보기</th>
                  <th>삭제</th>
                </tr>
	         </thead>
             <tbody>
              <tr th:each="l:${PeriodicInspectionList}">
                <td th:text="${l.checkCode}"></td>
                <td th:text="${l.contractCode}"></td>
                <td th:text="${l.branchCode}"></td>
                <td th:text="${l.customerId}"></td>
                <td th:text="${l.checkDate}"></td>
                <td th:text="${l.customerId}"></td>
                <td th:text="${l.checkDate}"></td>
                <td> 
					<a class="btn btn-primary btn-sm" th:href="@{/pUpdate(checkCode=${l.checkCode})}">
	                   <i class="fas fa-folder">
	                   </i>
	                    View
	                </a>    		
				</td>				
				<td>							
					<a class="btn btn-danger btn-sm" th:href="@{/pDelete(checkCode=${l.checkCode})}" id="btn-remove">
                       <i class="fas fa-trash">
                       </i>
                              Delete  	
				</td>
				
              </tr>
             </tbody>
		</table>
	  </div>
	 </div>
      	
    </div>
    
  </section>
  </div>
 </th:block>

<!-- jQuery -->
<!-- Page script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

</body>
</html>