 <!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>rUpdate.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
 
 	<!--수리현황 상세보기란 시작!!--> 
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1></h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
   
  	   <div class="container-fluid">   
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">A/S 수리 현황 및 수리비 청구 등록</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	<button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <!-- left -->
          <form action="/rUpdate" method="post" id="form">    
            <div class="row">
              
              <!-- 작업 구분 시작 -->
              <div class="col-md-6" style="max-width: 25%;">
                <div class="form-group" style="height:70px;">	                
	                 <label style="margin-bottom: 15px;">진행 상황</label><br>
	                  <div class="icheck-primary d-inline">
	                    <input class="InProgress" type="radio" name="workingSituation" id="radioPrimary1" checked="" value="작업중">
	                    <label for="radioPrimary1">
	                    	작업 중
	                    </label>
	                  </div>
	                  <div class="icheck-primary d-inline">
	                    <input class="Complete" type="radio" name="workingSituation" id="radioPrimary2" value="작업완료">
	                    <label for="radioPrimary2">
	                 			   작업 완료
	                    </label>
	                  </div>
	             
                </div>
                <div class="form-group" style="height:70px; display: none;">	                
	                  <input type="text" id="repairCode" name="repairCode" th:value="${AsRepair.repairCode}" class="form-control" readonly="readonly">
	             
                </div>
              </div>
              <!--작업 구분 끝  -->
                
               
              <!-- 오른쪽 div 시작-->				        
  			  <div class="col-md-6" style="max-width: 25%;"> 
	                <div class="form-group">
	                  <label>계약서 코드</label>
	                    <input type="text" id="contractCode" name="contractCode" th:value="${AsRepair.contractCode}" class="form-control" readonly="readonly">
	                </div>
	                
	                <div class="form-group">
	                  <label>고객 아이디</label>
			            <input type="text" id="customerId" name="customerId" th:value="${AsRepair.customerId}" class="form-control" readonly="readonly">
	                </div>
	                
	                <div class="form-group">
	                  <label>연락처</label>
			            <input type="text" id="customerCall" name="customerCall" th:value="${AsRepair.customerCall}" class="form-control" readonly="readonly">
	                </div>
	                
	                <div class="form-group">
	                  <label>기본 주소</label>
			            <input type="text" id="customerAddress" name="customerAddress" th:value="${AsRepair.customerAddress}" class="form-control" readonly="readonly">
	                </div>
	                
	                
	                 <!-- /.form-group -->
	                <div class="form-group">
	                  <label id="name1">수리 대상 상품 코드</label>
			           <input type="text" id="goodsCode"  name="goodsCode" th:value="${AsRepair.goodsCode}" class="form-control" readonly="readonly">
		           </div>
	                
	                <div class="form-group">
	                  <label>렌탈 시작 일자</label>
			            <input type="text" id="rentalFromDate" name="rentalFromDate" th:value="${AsRepair.rentalFromDate}" class="form-control" readonly="readonly">
	                </div>
	                
	                 <div class="form-group">
	                  <label>접수일</label>
			            <input type="text" name="receptionDate"  th:value="${AsRepair.receptionDate}" class="form-control" readonly="readonly">
	                </div>
	                
	                <div class="form-group">
	                  <label>방문 예정일</label>
			            <input type="text" name="visitExpectedDate"  th:value="${AsRepair.visitExpectedDate}" class="form-control" readonly="readonly">
	                </div>
	                
					<div id="repairType" class="form-group" style="display:none;">
						<label>A/S 비용 발생 여부</label>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="customRadio1" th:value="${AsRepair.repairType}" name="repairType" checked="" value="1">
                          <label for="customRadio1" class="custom-control-label">무상</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="customRadio2" name="repairType" th:value="${AsRepair.repairType}">
                          <label for="customRadio2" class="custom-control-label">유상</label>
                        </div>                       
                    </div>
   				&emsp;
             	 	<div class="form-group">
	                  <label>A/S 처리 기사명</label>
			            <input type="text" name="staffName" th:value="${AsRepair.staffName}" class="form-control">
	                </div>
	                <!-- /.form-group -->
	              </div>
	         <!-- 오른쪽 div 끝 --> 
	                
	          <!-- 왼쪽 div 시작-->
	              <div class="col-md-6" style="max-width: 40%;">
	               	<div class="form-group">
	                  <label>계약서 No</label>
			           <input type="text" id="2" name="contractNo" th:value="${AsRepair.contractNo}" class="form-control" readonly="readonly">
	                </div>
	                
	                
	                 <div class="form-group">
	                  <label>고객명</label>
			            <input type="text" id="customerName" name="customerName" th:value="${AsRepair.customerName}" class="form-control" readonly="readonly">
	                </div>
	                
	                 <div class="form-group">
	                  <label>우편번호</label>
			            <input type="text" id="zipCode" name="zipCode" th:value="${AsRepair.zipCode}" class="form-control" readonly="readonly">
	                </div>
	                
	                <div class="form-group">
	                  <label>상세 주소</label>
			            <input type="text" id="customerAddress2" name="customerAddress2" th:value="${AsRepair.customerAddress2}" class="form-control" readonly="readonly">
	                </div>
	                
	                
	                <!-- /.form-group -->
	                <div class="form-group">
	                  <label id="name1">수리 대상 상품명</label>
			           <input type="text" id="goodsName"  name="goodsName"  th:value="${AsRepair.goodsName}" class="form-control" readonly="readonly">
		           </div>
		          
		           
		            <div class="form-group">
	                  <label>렌탈 종료 일자</label>
			            <input type="text" id="8" name="rentalToDate"  th:value="${AsRepair.rentalToDate}" class="form-control" readonly="readonly">
	                </div>
	                
	                 <div class="form-group">
	                  <label>접수자 아이디</label>
			            <input type="text" name="staffId" class="form-control" th:value="${AsRepair.staffId}" readonly="readonly">
	                </div>
	                   
	                
	                <div class="form-group">
	                  <label>방문일</label>
			            <input type="date" name="visitDate" th:value="${AsRepair.visitDate}" class="form-control">
	                </div>
	                
	               <div id="repairContents" class="form-group" style="display:none;">
	                  <label>처리 결과</label>
			            <input type="text" id="repairContents" name="repairContents" th:value="${AsRepair.repairContents}" class="form-control">
	                </div>
					&emsp;
 	           		<div id="repairCompletionDate" class="form-group" style="display:none; margin-top: 10px">
	                  <label>수리 완료일</label>
			            <input id="repairCompletionDate" type="date" name="repairCompletionDate" th:value="${AsRepair.repairCompletionDate}" class="form-control">
	                </div>
	                
	                
	                <!-- /.form-group -->
	              </div>
	              <div class="col-md-6" style="max-width: 10%;">
	              	<button type="submit" id="customerBtn" class="btn btn-sm btn-primary" style="position: absolute;bottom: 0;margin-bottom: 18px;color:white;">확인</button>
	              </div>
                 
            </div>          
          </form>
          
          </div>
        </div>
      </div>
   </section>
   <!--수리현황 상세보기 끝!!--> 
   
   
   
   
   
   
   
   
   
   
</div>
  
  
  
  
  
  <script>
  $('#customRadio2').click(function(event){ 

	  popupOpen();	
	  
	  function popupOpen(){
			var url= "/repairFeeBillingAndDeposit";    
			var winWidth = 977;
	 	    var winHeight = 510;
		    var popupOption= "width="+winWidth+", height="+winHeight;    
			window.open(url,"",popupOption);
			
		
		

		
		
		
	  }
	  
	 
  
  });
  
  $('.Complete').click(function(){
	  
	$('#repairCompletionDate').css('display','block');
	$('#repairType').css('display','block');
	$('#repairContents').css('display','block');
		
	})
	
  $('.InProgress').click(function(){
	  
	$('#repairCompletionDate').css('display','none');
	$('#repairType').css('display','none');
	$('#repairContents').css('display','none');
	$('#repairCost').css('display','none');
	
	
		
	});

  
  
  
  


  
  </script>
  
  
	
</th:block>
</body>
</html>