<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>계약서 작성</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    
   <section class="content-header"> 
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>계약서 작성</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">견적서 정보 이용</a></li>
            <li class="breadcrumb-item active">Advanced Form</li>
          </ol>
        </div>
      </div>
    </section>

  <!-- 견적서 입력 data -->
  <section class="content">
  	<div class="container-fluid">
	 <div class="card">
	  <div class="card-body">
	   <form id="docContractCom">
	  	<div class="row">
		  	<!-- left -->
		  	<div class="col-sm-5 invoice-col">
		  		<label>계약자 정보</label><br>
		  		<input name="customerId" type="hidden">
			  	<div id="customerHtml">
				  	<span style="color:red;">고객님을 선택하세요</span>
				</div>  
			  	<button id="customerModal" type="button" class="btn btn-sm btn-primary" style="padding:3px;float:right;margin:0 20px 5px 0">
        			<i class="fas fa-folder"></i>&ensp;고객님 검색
      			</button>
			</div>
			<!-- right -->
		  	<div class="col-sm-7 invoice-col">
			  	<label>렌탈 기간</label><br>
			  	<div style="display:inline-block;">
			  		<input name="rentalFromDate" type="date" style="width:170px;" class="rentalDate form-control">
			  	</div>
			  	&emsp;~&emsp;
			  	<div style="display:inline-block;">
			  		<input name="rentalToDate" type="date" style="width:170px;" class="rentalDate form-control">
			  	</div>
			  	<input name="rentalPeriod" type="text" readonly="readonly" style="width:30px;border:none;text-align: right;">
			  	<span>일&emsp;</span><span id="sale"></span><span>%할인</span>
			  	<br>
		  		
		  		<br><label>배송지 정보</label><br>
		  		<input type="radio" name="address" id=sameAddress readonly="readonly">계약자 주소하고 동일&emsp;
		  		<input type="radio" name="address" id="addressModal" readonly="readonly">다른 주수로 배송<br>
				<span id="addressMessage" style="color:red;">배송지을 선택하세요</span>
				<div id="address">
				  <input name="deliveryNumber" type="hidden" style="width:100%;border:none">
				  <input name="deliveryAddress" readonly="readonly" style="width:100%;border:none">
				  <input name="deliveryDetailAddress" readonly="readonly" style="width:100%;border:none">
				  <input name="deliveryTel" readonly="readonly" style="width:100%;border:none"><br><br>
				<div id="staffHtml">
			  		<label>담당자</label>
			  		<span id="staffMessage" style="color:red;">담당자를 선택하세요</span>
				  	<button id="staffModal" type="button" class="btn btn-sm btn-primary" style="padding:3px;float:right;margin:0 20px 5px 0">
		       			<i class="fas fa-folder"></i>&ensp;담당자 검색
		     		</button>
	     		</div>
	     		<input name="staffCode" type="hidden">
			  	<input name="inputStaffCode" type="hidden">
				<input name="inputDate" type="hidden">
				<input name="contractNote" type="hidden">
			</div>
	  	</div>
		<!-- right end -->
	  </div>
	
  	<table id="example2" class="table table-bordered table-hover"  style="margin-top: 22px;">
    	<thead>
               <tr>
                 <th>분류/세트명</th>
                 <th>상품명</th>
                 <th>단가</th>
                 <th>장기간 렌탈 할인액</th>
                 <th>렌탈 가능 재고</th>
                 <th>갯수</th>
                 <th>렌탈 하루 금액</th>
                 <th style="width:130px">삭제</th>
               </tr>
         </thead>
            <tbody id=contract>
			</tbody>
			<tfoot>
             <tr id="goodAdd">
	             <td colspan="8" >
	               	<button id="setModal" type="button" class="btn btn-sm btn-info" style="padding:1px 4px 1px 4px;float:right;">
	       				<i class="fas fa-folder"></i>&ensp;세트 추가
	     			</button>
	             	<button id="goodsModal" type="button" class="btn btn-sm btn-info" style="padding:1px 4px 1px 4px;float:right;margin-right:20px;">
	       				<i class="fas fa-folder"></i>&ensp;상품 추가
	     			</button>
	             </td>
             </tr>
             <tr style="border-top: solid #dee2e6 2px;">
               <td colspan="3"></td>
               <td>등급 할인액</td>
               <td id="customerDiscount"></td>
               <td>합계액</td>
               <td><input type="text" name="contractTotalPrice" readonly="readonly"></td>
               <td></td>
             </tr>
            </tfoot>
	</table>
	</form>
	<br><textarea name="estimatesNote" class="form-control">memo</textarea>
	
	</div>   	    
    <div class="card-footer">
	    <button type="submit" id="contractInsert" class="btn btn-primary">입력 내용 확인</button>
	    <button type="submit" id="contractCancel" class="btn btn-default float-right">Cancel</button>
    </div>
   </div>
  </div>
 </section>
    <!-- 견적서 입력 data end-->
  
</div>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/jsModal/selectXlModal.js"></script>
<script src="/jsModal/addressModal.js"></script>

<script src="/jsDoc/contractModal.js"></script>


</th:block>
</body>
</html>