<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>staffList.html</title>
</th:block>
<th:block layout:fragment="customTestScript">
<script type="text/javascript">

</script>
</th:block> 

<th:block layout:fragment="customContents">
<body class="hold-transition sidebar-mini layout-fixed">
 <div class="content-wrapper">
 </div>
</body>
</th:block>
</html>