<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="leftcolumn" th:fragment="leftmenuFragment">
			<aside class="main-sidebar sidebar-white-primary elevation-4">
	    <!-- Brand Logo -->
	    <a href="index3.html" class="brand-link" style="background-color:hsla(100,100%,100%,1)">
	      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	           style="opacity: .8">
	      <span class="brand-text font-weight-light">AdminLTE 3</span>
	    </a>
	
	    <!-- 사이드바 -->
	    <div class="sidebar" style="background-color:hsla(100,100%,100%,1)">
	
	      <!-- 사이드바 메뉴 -->
	      <nav class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          
          	<!-- 상품관리 --> 
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	상품관리
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	            
	              <li class="nav-item">
	                <a th:href="@{/goodsList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.상품정보관리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/purchaseList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.상품구매관리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/sellList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.상품매각관리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/discardList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.상품폐기관리.조</p>
	                </a>
	              </li>
              </ul>
            </li>
            
	         	<!-- 재고관리 -->   
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	재고관리.조
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/changeList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.입출고관리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/stockList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.재고관리</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          <!-- 렌탈 단가,할인 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	렌탈 단가,할인 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a href="pages/charts/chartjs.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.단가 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="pages/charts/flot.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.단가 목록(수정,삭제).아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="pages/charts/inline.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.할인 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="pages/charts/inline.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.할인 조회.아</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- 계약 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	계약 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/estimateInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.견적서 작성.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/estimateList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.견적서 조회.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/contractInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.계약서 작성.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/contractList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.계약 사항 조회.아</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- #.직원 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	직원 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staffInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.직원 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staffList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.직원 정보 조회(수정,삭제).아</p>
	                </a>
	              </li>
	            </ul>
	          </li>

	      
	           <!--고객/거래처 관리  -->
          
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-copy"></i>
	              <p>
	              	 고객/거래처 관리.국
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/cinsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!개인고객 등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/clist}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!개인고객 조회.국</p>
	                </a>
	              </li>	
	              <li class="nav-item">
	                <a th:href="@{/cinsert2}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!거래처 고객 등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/clist2}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!거래처 고객 조회.국</p>
	                </a>
	              </li>	                  	             
	              
              </ul>
            </li>
	              
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	#.본사/지점 관리.국
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/binsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.지점등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/blist}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.지점조회.국</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	      
	      <!--A/S 접수 및 현황  -->
	     
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	#.A/S 관리.국
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a href="pages/charts/chartjs.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.A/S접수현황.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="pages/charts/inline.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.A/S교환현황.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="pages/charts/inline.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.A/S수리현황.국</p>
	                </a>
	              </li>	           
	              <li class="nav-item">
	                <a href="pages/charts/inline.html" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.정기점검현황.국</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          

			<!-- 청구서 관리  -->
          	<li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	청구 관리.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/changeList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.입금 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/stockList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.청구서 조회.손</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- 상품 출하 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	출하관리.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/changeList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.렌탈 출하 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/stockList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.수리 출하 조회.손</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	           <!-- 통계 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	통계.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/changeList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.실적 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/stockList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.고객 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	            </ul>
	          </li>
	          <!--  -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	통계.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/changeList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.실적 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/stockList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>#.고객 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	            </ul>
	          </li>
	          <!--  -->
	      </ul>
	   </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	  </aside>
	    <!-- Control Sidebar -->
		  <aside class="control-sidebar control-sidebar-dark">
		    <!-- Control sidebar content goes here -->
		  </aside>
		  <!-- /.control-sidebar -->
	</div>
</html>