<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="leftcolumn" th:fragment="leftmenuFragment">
			<aside class="main-sidebar sidebar-white-primary elevation-4">
	    <!-- Brand Logo -->
	    <a th:href="@{/}" class="brand-link" style="background-color:hsla(100,100%,100%,1)">
	      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	           style="opacity: .8">
	      <span class="brand-text font-weight-light">AdminLTE 3</span>
	    </a>
	
	    <!-- 사이드바 -->
	    <div class="sidebar" style="background-color:hsla(100,100%,100%,1)">
	
	      <!-- 사이드바 메뉴 -->
	      <nav b class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          
          	<!-- 재고관리 --> 
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <img src="../images/stock.jpeg" />
	              <p>
	              	재고
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	            
	              <li class="nav-item">
	                <a th:href="@{/admin/goods}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>재고관리</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/history}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>히스토리</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/dashboard}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>대시보드</p>
	                </a>
	              </li>
              </ul>
            </li>
            
	          <!-- 렌탈 단가,할인 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <img src="../images/money.jpeg" />
	              <p>
	              	렌탈 단가,할인 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/goodsPriceList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>단가 리스트/등록</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/basicSaleInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>장기 렌탈 할인 조회/등록</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- 견적 계약 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <img src="../images/document.jpeg" />
	              <p>
	              	견적서 계약 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/estimateInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>견적서 작성</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/estimateFormList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>견적서 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/contractInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>계약서 작성</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/contractFormList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>계약 사항 조회</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- #.직원 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <img src="../images/person.jpeg" />
	              <p>
	              	직원 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/admin/staffInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>직원 등록</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/staffList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>직원 정보 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/commuteList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>직원근태관리</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/holidayRegist}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>직원휴가관리</p>
	                </a>
	              </li>
	            </ul>
	          </li>

	      
	           <!--고객/거래처 관리  -->
          
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <img src="../images/customer.jpeg" />
	              <p>
	              	  고객 관리
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/cInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>고객 정보 등록</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/cList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>개인 고객 조회</p>
	                </a>
	              </li>	
	              <li class="nav-item">
	                <a th:href="@{/cList2}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>개인사업/법인 고객 조회</p>
	                </a>
	              </li>		             
              </ul>
            </li>
	              
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	             <img src="../images/branch.jpeg" />
	              <p>
	              	 본사/지점 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/bInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>지점등록</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/bList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>지점조회</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	      
	      <!--A/S 접수 및 현황  -->
	     
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	               <img src="../images/as.jpeg" />
	              <p>
	              	 A/S 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/aInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>A/S접수 등록</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/aList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>A/S접수 현황</p>
	                </a>
	              </li>	                        	                      
	              <li class="nav-item">
	                <a th:href="@{/rdList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>A/S비용 청구 현황</p>
	                </a>
	              </li>	
	              
	            </ul>
	          </li>
	          
	          
	          <!--정기점검 등록 및 현황  -->
	     
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	               <img src="../images/ツールボックスアイコン.jpeg" />
	              <p>
	              	정기점검 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">	              
	              <li class="nav-item">
	                <a th:href="@{/pInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>정기점검등록</p>
	                </a>
	              </li>	                      
	              <li class="nav-item">
	                <a th:href="@{/pList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>정기점검현황</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          

			<!-- 청구서 관리  -->
          	<li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <svg class="bi bi-briefcase" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/>
					  <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/>
					</svg>
	              <p>
	              	청구 관리
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/billList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>청구서 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/depositList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>입금 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/rentalShipList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>렌탈 출하 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/returnList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>렌탈 반납 조회</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          
	           <!-- 통계 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <svg class="bi bi-bar-chart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V2a1 1 0 00-1-1h-2zM6 7a1 1 0 011-1h2a1 1 0 011 1v7a1 1 0 01-1 1H7a1 1 0 01-1-1V7zm-5 4a1 1 0 011-1h2a1 1 0 011 1v3a1 1 0 01-1 1H2a1 1 0 01-1-1v-3z" clip-rule="evenodd"/>
					</svg>
	              <p>
	              	통계
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/rStatis}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>실적 조회</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cStatis}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>등급 조회</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cRetrunDelay}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>렌탈반납지연율 조회</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	            </ul>
	          </li>
	          <!--  -->
	          <li class="nav-item has-treeview">
	            <a th:href="@{/staff/boardList}" class="nav-link">
	              <span class="iconify" data-icon="et-megaphone" data-inline="false"></span>
	              <p>
	              	공지사항
	              </p>
	            </a>
	          </li>
	          <li class="nav-item has-treeview">
	            <a th:href="@{/myView}" class="nav-link">
	              <img src="../images/履歴書アイコン1.jpeg" />
	              <p>
	              	마이페이지
	              </p>
	            </a>
	          </li>
	          <!--  -->
	      </ul>
	   </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	  </aside>
	    <!-- Control Sidebar -->
		  <aside class="control-sidebar control-sidebar-dark">
		    <!-- Control sidebar content goes here -->
		  </aside>
		  <!-- /.control-sidebar -->
	</div>
</html>