<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="leftcolumn" th:fragment="leftmenuFragment">
			<aside class="main-sidebar sidebar-white-primary elevation-4">
	    <!-- Brand Logo -->
	    <a th:href="@{/}" class="brand-link" style="background-color:hsla(100,100%,100%,1)">
	      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	           style="opacity: .8">
	      <span class="brand-text font-weight-light">AdminLTE 3</span>
	    </a>
	
	    <!-- 사이드바 -->
	    <div class="sidebar" style="background-color:hsla(100,100%,100%,1)">
	
	      <!-- 사이드바 메뉴 -->
	      <nav b class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          
          	<!-- 재고관리 --> 
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	재고
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	            
	              <li class="nav-item">
	                <a th:href="@{/admin/goods}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.재고관리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/history}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.히스토리.조</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/dashboard}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.대시보드.조</p>
	                </a>
	              </li>
              </ul>
            </li>
            
	          <!-- 렌탈 단가,할인 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	렌탈 단가,할인 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/admin/goodsPriceInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.단가 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/goodsPriceList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.단가 목록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/basicSaleInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.기본 할인 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/basicSaleList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.기본 할인 조회.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/specialSaleInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.특별 할인 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/specialSaleList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.특별 할인 조회.아</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- 견적 계약 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	견적서 계약 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/estimateInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.견적서 작성.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/estimateFormList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.견적서 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/contractInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.계약서 작성.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/contractFormList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.계약 사항 조회.손</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <!-- #.직원 관리.아 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	직원 관리.아
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/admin/staffInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.직원 등록.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/staffList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.직원 정보 조회.아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/admin/staffList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.직원 정보 조회(수정).아</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/commuteList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.직원근태관리.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/holidayRegist}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.직원휴가관리.손</p>
	                </a>
	              </li>
	            </ul>
	          </li>

	      
	           <!--고객/거래처 관리  -->
          
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-copy"></i>
	              <p>
	              	  고객 관리.국
	                <i class="fas fa-angle-left right"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/cInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!고객 정보 등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/cList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!B2C 고객 조회.국</p>
	                </a>
	              </li>	
	              <li class="nav-item">
	                <a th:href="@{/cList2}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!B2B 고객 조회.국</p>
	                </a>
	              </li>		             
              </ul>
            </li>
	              
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	 본사/지점 관리.국
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/bInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.지점등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/bList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.지점조회.국</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	      
	      <!--A/S 접수 및 현황  -->
	     
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	 A/S 관리.국
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/aInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.A/S접수 등록.국</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/aList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.A/S접수 현황.국</p>
	                </a>
	              </li>	                        	                      
	              <li class="nav-item">
	                <a th:href="@{/rdList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.A/S비용 청구 현황.국</p>
	                </a>
	              </li>	
	              <li class="nav-item">
	                <a th:href="@{/pInsert}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.정기점검등록.국</p>
	                </a>
	              </li>	                      
	              <li class="nav-item">
	                <a th:href="@{/pList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.정기점검현황.국</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          

			<!-- 청구서 관리  -->
          	<li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	청구 관리.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/billList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.청구서 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/depositList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.입금 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/rentalShipList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.렌탈 출하 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/returnList}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.렌탈 반납 조회.손</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          
	           <!-- 통계 -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	통계.손
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a th:href="@{/staff/rStatis}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.실적 조회.손</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cStatis}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.등급 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cReCont}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.재계약율 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cDisuse}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.고장폐기율 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	              <li class="nav-item">
	                <a th:href="@{/staff/cRetrunDelay}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>!.렌탈반납지연율 조회.손</p>
	                  <!-- 재계약율, 고장폐기율, 렌탈반납지연율, 고객등급 -->
	                </a>
	              </li>
	            </ul>
	          </li>
	          <!--  -->
	          <li class="nav-item has-treeview">
	            <a th:href="@{/staff/boardList}" class="nav-link">
	              <i class="nav-icon fas fa-chart-pie"></i>
	              <p>
	              	!.공지사항.손
	              </p>
	            </a>
	          </li>
	          <!--  -->
	      </ul>
	   </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	  </aside>
	    <!-- Control Sidebar -->
		  <aside class="control-sidebar control-sidebar-dark">
		    <!-- Control sidebar content goes here -->
		  </aside>
		  <!-- /.control-sidebar -->
	</div>
</html>