<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>staffList.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>기본 할인 등록</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">Advanced Form</li>
           </ol>
         </div>
       </div>  
    </section>
  
  <!-- 견적서 입력 data -->
  <section class="content">
  	<div class="container-fluid">
	 <div class="card">
	  <div class="card-body">
	  	<table class="table table-condensed">
	  		<thead>
	  			<tr class="trAddSale">
	  				<th style="text-align:center;">할인 적용 렌탈 최소 일수</th>
	  				<th></th>
	  				<th style="text-align:center;">할인율</th>
	  				<th></th>
	  				<th style="text-align:center;">적용 시작 날</th>
	  				<th></th>
	  			</tr>
	  		
	  		</thead>
	  		
	  		<tbody>
	  			<tr class="trAddSale">
	  				<td><input type="number" class="form-control" style="padding-right:0px;"></td>
	  				<td style="text-align:left;vertical-align:bottom;padding-left:0px;">일 ~</td>
	  				<td><input type="number" class="form-control"></td>
	  				<td style="text-align:left;vertical-align:bottom;padding-left:0px;">% 할인</td>
	  				<td><input type="date" class="form-control"></td>
	  				<td><button class="addSale btn btn-block btn-secondary">추가</button></td>
	  			</tr>
	  			<tr>
	  				<td><input type="number" class="form-control" style="padding-right:0px;"></td>
	  				<td style="text-align:left;vertical-align:bottom;padding-left:0px;">일 ~</td>
	  				<td><input type="number" class="form-control"></td>
	  				<td style="text-align:left;vertical-align:bottom;padding-left:0px;">% 할인</td>
	  				<td><input type="date" class="form-control"></td>
	  				<td><button class="addSale btn btn-block btn-secondary">추가</button></td>
	  			</tr>
	  		</tbody>
	  	</table>

	  </div>
	 </div>   	    
	</div>
  </section>
    <!-- 견적서 입력 data end-->
  </div>
<script>
	$('.addSale').click(function(){
	    var clone = $(this).parents('.trAddSale').clone();   
	    $('.trAddSale').last().parent().append(clone);
	});
</script>
  
</th:block>
</body>
</html>