<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>staffList.html</title>
	
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">

 <div class="content-wrapper">
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1></h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">Advanced Form</li>
           </ol>
         </div>
       </div>  
    </section>
  

  <section class="content">
  	<div class="container-fluid">
	 <div class="card card-info">
  	  <div class="card-header">
        <h3 class="card-title">기본 할인 등록</h3>
      </div>	
		
		
		 
		 <div class="card-body">
			<div style="margin-bottom: 20px;">
				<label>적용 시작 날&emsp;</label>
				<div style="display:inline-block;">
					<input name="rentalFromPeriod" type="date" class="form-control" style="padding-right:0px;">
				</div>
		  	</div>	
		  	<table id="example2" class="table table-bordered table-hover">
		    	<thead>
		  			<tr class="trAddSale">
		  				<th style="text-align:center;">렌탈 최소 일수</th>
		  				<th style="text-align:center;">할인율</th>
		  				<th></th>
		  				<th></th>
		  				<th></th>
		  			</tr>
		         </thead>
	             <tbody>
		             <tr class="trAddSale">
		  				<td>
		  					<div style="display:inline-block;">
		  						<input name="rentalFromPeriod" value="1" type="number" class="form-control" style="padding-right:0px;">
		  					</div>
		  					<div style="display:inline-block;">
		  						일 ~
		  					</div>
		  				</td>
		  				<td>
		  					<div style="display:inline-block;">
		  						<input name="discountRate" type="number" class="form-control" style="padding-right:0px;">
		  					</div>
		  					<div style="display:inline-block;">
		  						% 할인
		  					</div>
		  				</td>
		  				<td style="text-align: center;vertical-align: middle;">
	                		<button type="button" class="addSale btn btn-sm btn-info" style="padding:1px 4px 1px 4px;">
	        					<i class="fas fa-folder"></i>&ensp;추가
		      				</button>
		              	</td>
		  				<td style="text-align: center;vertical-align: middle;">
		  					<a class="delete btn btn-danger btn-sm" href="#" style="padding:1px 4px 1px 4px">
	                    		<i class="fas fa-trash"></i>&ensp;삭제</a>
	                    </td>
	                    <td style="vertical-align: middle;">
	                    	&ensp;<div class="btn-group-vertical" style="text-align: center;vertical-align: middle;">
		                        <button type="button" class="up btn btn-default" style="padding: 0 3px 0 3px;margin:0;font-size: 11px;">▲</button>
		                        <button type="button" class="down btn btn-default" style="padding: 0 3px 0 3px;margin:0;font-size: 11px;">▼</button>
	                        </div>
	                    </td>
		  			</tr>
	             </tbody>
			</table>
		  </div>

		  <!-- /.card-body -->  
        <div class="card-footer">
           <button type="submit" class="btn btn-info">입력 내용 확인</button>
           <button type="submit" class="btn btn-default float-right">Cancel</button>
        </div>
	 </div>   	    
	</div>
  </section>
    <!-- 견적서 입력 data end-->
  </div>
  
<script>

	$(document).on('click', '.addSale', function(){
	    var clone = $(this).parents('.trAddSale').clone();
	    clone.find('[name="rentalFromPeriod"]').val('');
	    clone.find('[name="discountRate"]').val('');
	    $(this).parents('.trAddSale').after(clone);
	});
	$(document).on('click', '.delete', function(){
		if($('.delete').length>1) $(this).parents('.trAddSale').remove();
		else  alert('더 이상 삭제하실 수 없습니다');
	});
	$(document).on('click', '.down', function(){
	    var down = $(this).parents('.trAddSale');
	    console.log(down);
	    down.insertAfter(down.next());
	});
	$(document).on('click', '.up', function(){
	    var up = $(this).parents('.trAddSale');
	    console.log(up);
	    up.insertBefore(up.prev());
	});




</script>
  
</th:block>
</body>
</html>