<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>직원 목록</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>직원 목록</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Advanced Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
  <section class="content">
  	<div class="container-fluid">
	 <div class="card card-default">
	 <div class="card-header">
	   <h3 class="card-title">직원 검색</h3>
	
	   <div class="card-tools">
	     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
	     <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
	   </div>
	 </div>
	 
	 <div class="card-body">
         <!-- left -->
         <div class="row" id="staffSerch">
           <!-- 1 -->
           <div class="col-md-6" style="max-width: 20%;">
             <div class="form-group">
               <label>지점</label>
	          <select class="form-control select2bs4" style="width: 100%;" name="branchCode">
	            <option selected="selected"></option>
	            <th:block th:each="B:${branchSerectList}">
	            	<option selected="selected" th:value="${B.branchCode}" th:text="${B.branchName}">본사</option>
	       		</th:block>
	          </select>
             </div>
             <!-- /.form-group -->
             <div class="form-group">
               <label>직책</label>
          	   <input type="text" class="form-control select2bs4" style="width: 100%;" name="staffPosition">
             </div>
             <!-- /.form-group -->
           </div>
           <!-- 2 -->
           <div class="col-md-6" style="max-width: 20%;">
             <div class="form-group">
               <label>권한</label>
          <select class="form-control select2bs4" style="width: 100%;" name="staffLevel">
            <option selected="selected"></option>
            <option selected="selected" value="관리자">관리자</option>
            <option selected="selected" value="직원">직원</option>
          </select>
             </div>
             <!-- /.form-group -->
             <div class="form-group">
               <label>이름</label>
          <input type="text" class="form-control select2bs4" name="staffName">
          </div>
             <!-- /.form-group -->
           </div>
           
           <!-- 3 -->
           <div class="col-md-6" style="max-width: 25%;">
             <div class="form-group">
               <label>생년월일</label>
         <input type="date" class="form-control select2bs4" name="staffBirth">
         </div>
             <!-- /.form-group -->
             <div class="form-group">
               <label>전화번호</label>
         <input type="text" class="form-control select2bs4" name="staffTell">
         </div>
             <!-- /.form-group -->
           </div>
           <!-- 4 -->
           <div class="col-md-6" style="max-width: 35%;">
             <div class="form-group">
               <label>이메일</label>
               <input type="email" class="form-control select2bs4" name="staffEmail">
             </div>
             <!-- /.form-group -->
             <div class="form-group" style="position: absolute;bottom: 0;">
               <button id="staffSerchBtn" type="button" class="btn btn-info">검색</button>
             </div>
             <!-- /.form-group -->
           </div>

           <!-- /.col -->
         </div>
            <!-- /.row -->
      </div>
	 </div>
	
	<div class="card">
	 <div class="card-body" style="margin-top:20px">
	  	<table id="example2" class="table table-bordered table-hover">
	    	<thead>
                <tr>
                  <th>지점</th>
                  <th>직책</th>
                  <th>직원 명</th>
                  <th>생년월일</th>
                  <th>전화번호</th>
                  <th>이메일</th>
                  <th>권한</th>
                </tr>
	         </thead>
             <tbody>
              <tr th:each="L:${staffList}">
                <td th:text="${L.branchName}"></td>
                <td th:text="${L.staffPosition}"></td>
                <td th:text="${L.staffName}"></td>
                <td th:text="${L.staffBirth}"></td>
                <td th:text="${L.staffTell}"></td>
                <td th:text="${L.staffEmail}"></td>
                <td th:text="${L.staffLevel}"></td>
              </tr>
             </tbody>
		</table>
	  </div>
	  <!-- /.card-body -->
	 </div>
     <!-- /.card --> 	
    </div>
    
  </section>
  
 <script type="text/javascript">
	$(function(){
		$('#staffSerchBtn').click(function(){
			console.log("staffSerchBtn");
			
			const insertGoods = async () => {
				  const formData = new FormData($("form#insert-form")[0]);

				  await $.ajax({
				    type: "post",
				    url: "/staff/staffList",
				    processData: false,
				    contentType: false,
				    data: formData,
				    error: err => {
				      renderMsgModal(
				        "오류 메시지",
				        "서버 에러가 발생했습니다. 관리자에게 문의 바랍니다."
				      );
				      console.log(err);
				    },
				    success: data => {
				    	alert(data);
				    }
				  });
				};

		})
	})
</script>	
  </div>
 </th:block>
</body>
</html>