<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href="@{assets/css/main.css}" />
		<link rel="stylesheet" th:href="@{css/all.min.css}" />
		<link rel="stylesheet" th:href="@{css/fontawesome.min.css}" />
	</head>
	<body>

			<!-- Banner -->
			<section id="banner">
				<img id="background-keyboard" alt="keyboard" th:src="@{coverImages/computer_keyboard.jpg}">
				<div class="inner">

					<header>
						<p class="typing-txt" style="display: none;">손종호의 개발 포트폴리오입니다</p>
						<div>
							<h1 class="typing"></h1>
						</div>
						<button id="teamproject" type="button" class="button big ">팀프로젝트 들어가기</button>
						<button id="privateProject" type="button" class="button big ">개인프로젝트 들어가기</button>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col2 skills-content">
										<h1 class="skills-title">프론트 엔드</h1>
											<div class="skills-image">
												<img alt="html" th:src="@{coverImages/html-logo.png}" width="20%">
											</div>
											<div class="skills-image">
												<img alt="css" th:src="@{coverImages/css-logo.png}" width="17%">
											</div>
											<div class="skills-image">
												<img alt="javascript" th:src="@{coverImages/JavaScript_logo.png}" width="16%">
											</div></br>
											<div class="skills-image">
												<img alt="jQuery" th:src="@{coverImages/jQuery_logo.png}" width="19%">
											</div>
											<div class="skills-image">
												<img alt="Bootstrap" th:src="@{coverImages/bootstrap_logo.png}" width="22%">
											</div></br>
										<h1 class="skills-title">백엔드</h1>
											<div class="skills-image">
												<img alt="Java" th:src="@{coverImages/Java_logo.jpg}" width="15%">
											</div>
											<div class="skills-image">
												<img alt="Spring" th:src="@{coverImages/Spring_logo.png}" width="25%">
											</div>
											<div class="skills-image">
												<img alt="apacheTomcat" th:src="@{coverImages/Apache_tomcat.png}" width="20%">
											</div>
											<br>
											<div class="skills-image">
												<img alt="MySql" th:src="@{coverImages/Mysql_logo.jpg}" width="20%">
											</div>
											<div class="skills-image">
												<img alt="Orace" th:src="@{coverImages/Oracle_logo.png}" width="20%">
											</div>
											<div class="skills-image">
												<img alt="mybatis" th:src="@{coverImages/MyBatis_logo.jpg}" width="20%">
											</div>
											<br>
										<h1 class="skills-title">형상관리</h1>
											<div class="skills-image">
												<img alt="git" th:src="@{coverImages/Git_logo.png}" width="17%">
											</div>
											<div class="skills-image">
												<img alt="svn" th:src="@{coverImages/Subversion_logo.png}" width="25%">
											</div>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Contact me</h3>
									<h4>010-9483-6381</h4>
									<h3 style="display: inline-block"><i class="fab fa-github"></i></h3>
									<h4 style="display: inline-block"><a href="https://github.com/grit1life" style="color: white">https://github.com/grit1life</a></h4>
								</div>
							</div>
						</div>
					</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	<script type="text/javascript">
		var teamBtn = document.getElementById('teamproject');
		var privatePBtn = document.getElementById('privateProject');
		teamBtn.addEventListener('click',function(){
			location.href="/index";
		})
		privatePBtn.addEventListener('click',function(){
			location.href="http://louw00.cafe24.com/";
		})
		var typingBool = false; 
	    var typingIdx=0; 
	    var typingTxt = $(".typing-txt").text(); // 타이핑될 텍스트를 가져온다 
	    typingTxt=typingTxt.split(""); // 한글자씩 자른다. 
	    if(typingBool==false){ // 타이핑이 진행되지 않았다면 
	       typingBool=true; 
	       
	       var tyInt = setInterval(typing,100); // 반복동작 
	     } 
	     
	     function typing(){ 
	       if(typingIdx<typingTxt.length){ // 타이핑될 텍스트 길이만큼 반복 
	         $(".typing").append(typingTxt[typingIdx]); // 한글자씩 이어준다. 
	         typingIdx++; 
	       } else{ 
	         clearInterval(tyInt); //끝나면 반복종료 
	       } 
	     }  
	</script>

	</body>
</html>


