<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>login_form</title>
</th:block>

<th:block layout:fragment="customContents">
 <div class="content-wrapper" style="padding:70px">
 	
	<div class="row" >
	  <div class="card card-primary" id="loginBox" style="width:400px; margin:10px auto; ">
		 <div class="card-header">
		      <h3 class="card-title">관리자 로그인</h3>
		 </div>
		 <!-- /.card-header -->
		 <!-- form start -->
		 <form role="form" action="/adminLogin" method="POST">
		    <div class="card-body">
		      <div class="form-group">
		        <label for="exampleInputEmail1">ID</label>
		        <input type="text" class="form-control" name="adminId" value="201804_0001">
		      </div>
		      <div class="form-group">
		        <label for="exampleInputPassword1">Password</label>
		        <input type="password" class="form-control" name="adminPw" value="pw001">
		      </div>
		    </div>
	      <!-- /.card-body -->	
		      <div class="card-footer">
		        <button id="" type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
		      </div>
	      </form>
	   </div>

	  <div class="card card-primary" id="loginBox" style="width:400px; margin:10px auto;">
	    <div class="card-header">
	      <h3 class="card-title">직원 로그인</h3>
	    </div>
	    <!-- /.card-header -->
	    <!-- form start -->
	    <form role="form" action="/staffLogin" method="post">
		  <div class="card-body">
		      <div class="form-group">
		        <label for="exampleInputEmail1">ID</label>
		        <input type="text" class="form-control" name="staffId" id="staffId" value="201903_0001">
		      </div>
		      <div class="form-group">
		        <label for="exampleInputPassword1">Password</label>
		        <input type="password" class="form-control" name="staffPw" id="staffPw" value="ex003">
		      </div>
		  </div>
	      <!-- /.card-body -->
	      <div class="card-footer">
	        <button id="loginBtn" type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
	      </div>
	    </form>
	  </div>

	  <div class="card card-success" id="loginBox" style="width:400px; margin:10px auto;">
	    <div class="card-header">
	      <h3 class="card-title">고객 로그인</h3>
	    </div>
	    <!-- /.card-header -->
	    <!-- form start -->
	    <form role="form" action="/customerLogin" method="post">
	    <div class="card-body">
	      <div class="form-group">
	        <label for="exampleInputEmail1">ID</label>
	        <input type="text" class="form-control" name="customerId" id="customerId" placeholder="ID" value="client01">
	      </div>
	      <div class="form-group">
	        <label for="exampleInputPassword1">Password</label>
	        <input type="password" class="form-control" name="customerPw" id="customerPw" placeholder="Password" value="pw001">
	      </div>
	
	    </div>
	      <!-- /.card-body -->
	
	      <div class="card-footer">
	        <button id="CustomerloginBtn" type="submit" class="btn btn-block btn-success" style="width: 100%;">Login</button>
	      </div>
	    </form>
	  </div>
     </div>
     <a th:href="@{/files/포트폴리오_팀프로젝트+완료+보고서.hwp.pdf}" class="btn btn-success" style="color: white; width: 700px; margin:inherit; margin-top: 20px">팀프로젝트 완료 보고서 다운로드</a>
  </div> 
<script type="text/javascript">
	/* $(function(){
		$(document).on('click', '#loginBtn', function(){
			var staffId = $('#staffId').val();
			var staffPw = $('#staffPw').val();
						
			var request = $.ajax({
				url : "/staffLogin",
				method : "post",
				dataType : "json",
				data : {staffId:staffId,staffPw:staffPw}
			})
			request.done(function(data){
				if(data.result=="login성공"){
					console.log(data.result)
					alert("직원 "+data.result)
				}else{
					alert(data.result);
				}
			})
			request.fail(function( jqXHR, textStatus ) {
				console.log(jqXHR)
				console.log(textStatus)
				  alert("입력한 ID가 존재하지 안습니다");
			});
		});
	}); */
	
	$(function(){
		/* $('#CustomerloginBtn').click(function(){
			var customerId = $('#customerId').val();
			var customerPw = $('#customerPw').val();

			var request = $.ajax({
				url : "/customerLogin",
				method : "post",
				dataType : "json",
				data : {customerId:customerId,customerPw:customerPw}
			})
			request.done(function(map){
				alert("고객 "+map.result);
				
			})
			request.fail(function( jqXHR, textStatus ) {
				console.log(jqXHR)
				console.log(textStatus)
				  alert("입력한 ID가 존재하지 않습니다");
			});
		}) */
	})
</script>	
</th:block>

</html>
