<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>aInsert.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
    </section>  
      
  <!--A/S 접수 등록  -->
<form role="form">
  <section class="content">
  	<div class="container-fluid">
	
	<div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">A/S 접수 등록</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">    
                 
                 <!-- 작업 구분 시작 -->
	              <div class="col-md-6" style="max-width: 25%;">
	                <div class="form-group" style="height:70px;">
		                
		                 <label style="margin-bottom: 15px;">작업 구분</label><br>
		                  <div class="icheck-primary d-inline">
		                    <input class="exchange" type="radio" name="r1" id="radioPrimary1" value="a">
		                    <label for="radioPrimary1">
		                    	교환
		                    </label>
		                  </div>
		                  <div class="icheck-primary d-inline">
		                    <input class="repair" type="radio" name="r1" id="radioPrimary2">
		                    <label for="radioPrimary2">
		                    	수리
		                    </label>
		                  </div>
		             
	                </div>
	              </div>
            	  <!--작업 구분 끝  --> 
              	   <!-- 고객 검색 팝업창 버튼 시작-->	
		            <div class="form-group">  
							<button type="button" id="customerSearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인고객 검색</i>   
							</button>										
					   
					   		<button type="button" id="customerCompanySearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인사업자/법인고객 검색</i>   
							</button>	
				   </div>
				   <!-- 고객 검색 팝업창 버튼 끝-->
					 
					
                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 아이디</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerId" name="customerId" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerName" name="customerName" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 연락처</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerCall" name="customerCall" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">우편 번호</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="zipCode" name="zipCode" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">기본 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress" name="customerAddress" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">상세 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress2" name="customerAddress2" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
                  &ensp;
                  
                  
                 <!-- 계약서 검색 팝업창 버튼 시작-->	
		          <div class="form-group">  
						<button type="button" id="contractSearchList" class="btn btn-success">
								<i class="fas fa-search">계약서 검색</i>   
						</button>										
				  </div>
				<!-- 계약서 검색 팝업창 버튼 끝-->							
				
                  
                   <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 코드</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractCode" name="contractCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 No</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractNo" name="contractNo" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품코드</label>
	                   <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsCode"  name="goodsCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsName" name="goodsName" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	      
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 시작 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="rentalFromDate" name="rentalFromDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 종료 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="rentalToDate" name="rentalToDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
                  
                   <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 지점 코드</label>
                   <div class="input-group mb-3" style="width: 300px;">
                   <input type="text" class="form-control" id="branchCode" name="branchCode">              
	                    <button type="button" id="branchSearchList" class="btn btn-success" style="margin-left: 10px;">
								<i class="fas fa-search"></i>   
						</button>		           
                  </div>
                  

           		             		  
           		  
           		   <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 출동 기사 아이디</label>
                  <div class="input-group mb-3" style="width: 300px;">
                  <input type="text" class="form-control" id="staffCode" name="staffId">              
	                    <button type="button" class="btn btn-success" id="staffSearchList" style="margin-left: 10px;">
	                    	<i class="fas fa-search"></i> 
	                    </button>             
                 </div>
           		   

                  <div class="form-group" id="exchangeReason" style="width: 300px;">
	                  <label>교환 사유</label>
	                  	  <select name="requestReason" class="form-control">
	                  	  	<option disabled="disabled">:: 선택해주세요 ::</option>
	                  	  	<option value="단순 변심">단순 변심</option>
	                  	  	<option value="오배송">오배송</option>
	                  	  	<option value="상품 파손 및 불량">상품 파손 및 불량</option>
	                  	  	<option value="상품정보와 상이">상품정보와 상이</option>
	                  	  	<option value="기타">기타</option>
	                  	  </select>
	               </div>
	               
	               <div class="form-group" id="repairReason" style="display:none;">
	                  <label>메모</label>
			            <input type="text"  name="requestReason" class="form-control" style="width: 300px;">
	                </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">방문예정일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="visitExpectedDate" class="form-control">
	                  </div>                  
           		  </div>    
                
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="receptionDate" class="form-control">
	                  </div>                  
           		  </div>             		            		 
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수자 아이디</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text"  name="staffId" class="form-control">
                    </div>
                  </div>
                  
                  
                  <div class="form-group row" style="display: none;">
		          	<input class="exchange" type="radio" name="r1" value="1" id="radioPrimary1" checked="checked">
		             	<label for="radioPrimary1">
		                    	작업 중
		            	</label>
		            <input class="exchange" type="radio" name="r1" value="2" id="radioPrimary1">
		             	<label for="radioPrimary1">
		                       	작업 완료
		            	</label>	
		          </div>
                  
                  			
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" id="btn" class="btn btn-info">등록</button>
                   <a th:href="@{/index}" class="btn btn-default float-right">취소</a>
                  
                </div>
                <!-- /.card-footer -->        
            </div>
        </div>    
   </section>
 </form>   
  </div> 
<script>
	$('.exchange').click(function(){
		$('#name1').text('교환 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('교환 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('교환 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');
		
		$('#exchangeReason').css('display','block');
		$('#repairReason').css('display','none');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action", "/eInsert"); 
	        formObj.attr("method", "post"); 
	        formObj.submit();                          
	    });


		
	});
	
	
	
	$('.repair').click(function(){
		$('#name1').text('수리 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('수리 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('수리 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');	
	
		$('#exchangeReason').css('display','none');
		$('#repairReason').css('display','block');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action","/rInsert"); 
	        formObj.attr("method", "post"); 
	        formObj.submit();                          
	    });
		
	});
	
	
	
	
	
	 $('#customerSearchList').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력 
	     console.log('click');
	     popupOpen();	//Popup Open 함수
	     
	     function popupOpen(){
	 		var url= "/customerSearchModal";    //팝업창 페이지 URL
	 		var winWidth = 700;
	 	    var winHeight = 600;
	 	    var popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
	 		window.open(url,"",popupOption);
	 	}

	 });

		
	 
	  $('#customerCompanySearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/customerCompanySearchModal";    
				var winWidth = 700;
			    var winHeight = 600;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	  
	  
	  
	  $('#contractSearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/contractSearchModal";    
				var winWidth = 700;
			    var winHeight = 600;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	 
	  $('#branchSearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/branchSearchModal";    
				var winWidth = 952;
			    var winHeight = 599;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	  
	  
	  $('#staffSearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/staffSearchModal";    
				var winWidth = 952;
			    var winHeight = 599;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	  	
	


</script>  
  
</th:block>
</body>
</html>