<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>aInsert.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
    </section>  
      
  <!--A/S 접수 등록  -->
 <form role="form" method="post">
  <section class="content">
  	<div class="container-fluid">
	
	<div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">A/S 접수 등록</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">    
                 
                 <!-- 작업 구분 시작 -->
	              <div class="col-md-6" style="max-width: 25%;">
	                <div class="form-group" style="height:70px;">
		                
		                 <label style="margin-bottom: 15px;">작업 구분</label><br>
		                  <div class="icheck-primary d-inline">
		                    <input class="exchange" type="radio" name="r1" id="radioPrimary1" value="a">
		                    <label for="radioPrimary1">
		                    	교환
		                    </label>
		                  </div>
		                  <div class="icheck-primary d-inline">
		                    <input class="repair" type="radio" name="r1" id="radioPrimary2">
		                    <label for="radioPrimary2">
		                    	수리
		                    </label>
		                  </div>
		             
	                </div>
	              </div>
            	  <!--작업 구분 끝  --> 
              	   <!-- 고객 검색 팝업창 버튼 시작-->	
		            <div class="form-group">  
							<button type="button" id="customerSearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인고객 검색</i>   
							</button>										
					   
					   		<button type="button" id="customerCompanySearchList" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
								<i class="fas fa-search">개인사업자/법인고객 검색</i>   
							</button>	
				   </div>
				   <!-- 고객 검색 팝업창 버튼 끝-->
					 
					
                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 아이디</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerId" name="customerId" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="customerName" name="customerName" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 연락처</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerCall" name="customerCall" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">우편 번호</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="zipCode" name="zipCode" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">기본 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress" name="customerAddress" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">상세 주소</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="customerAddress2" name="customerAddress2" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
	                    </div>
	                  </div>
                  &ensp;
                  
                  
                 <!-- 계약서 검색 팝업창 버튼 시작-->	
		          <div class="form-group">  
						<button type="button" id="contractSearchList" class="btn btn-success">
								<i class="fas fa-search">계약서 검색</i>   
						</button>										
				  </div>
				<!-- 계약서 검색 팝업창 버튼 끝-->							
				
                  
                   <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 코드</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractCode" name="contractCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 No</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="contractNo" name="contractNo" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품코드</label>
	                   <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsCode"  name="goodsCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                   <label for="inputEmail3" class="col-sm-2 col-form-label">상품명</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                      <input type="text" id="goodsName" name="goodsName" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	      
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 시작 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                       <input type="text" id="rentalFromDate" name="rentalFromDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
	                  
	                  
	                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 종료 일자</label>
	                  <div class="form-group row">
	                    <div class="col-sm-10">
	                        <input type="text" id="rentalToDate" name="rentalToDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
	                    </div>
	                  </div>
                  
                   <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 지점 코드</label>
                   <div class="input-group mb-3" style="width: 300px;">
                   <input type="text" class="form-control" id="9" name="branchCode" placeholder="지점을 검색해주세요.">              
	                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal3" style="margin-left: 10px;">
	                    	<i class="fas fa-search">검색</i> 
	                    </button>             
                  </div>
           		             		  
           		  
           		   <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 출동 기사 아이디</label>
                  <div class="input-group mb-3" style="width: 300px;">
                  <input type="text" class="form-control" id="9" name="staffId2" placeholder="직원을 검색해주세요.">              
	                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal3" style="margin-left: 10px;">
	                    	<i class="fas fa-search">검색</i> 
	                    </button>             
                 </div>
           		   
           		  
                  
                 <!-- 직원 검색 모달 영역 시작-->						
					<div class="modal fade" id="myLargeModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-xl" role="document">
							<div class="modal-content">
								<div class="modal-header">								
									<h4 class="modal-title" id="myModalLabel">출동 기사 조회</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								</div>
								
								<!--직원 서치폼 시작  -->
								<div class="modal-body">
								   <div class="row">	
								   		<div style="display:inline-block;">
						                 	<select class="form-control" style="width: 130px;">                            	
							                   		<option>::지점 선택::</option>  
							                   		<option>본사</option> 
							                   		<option>인천점</option>  
							                   		<option>부산점</option>  
							                   		<option>전주점</option>      
							          	    </select>        	
						              	 </div>
								   			&ensp;	
						             	 <div style="display:inline-block;">
						                 	<select class="form-control" style="width: 130px;">                            	
							                   		<option>직원명</option>  							                   		   
							          	    </select>        	
						              	 </div>
						              	 
						              	 
	
							              <div style="display:inline-block;">
									          <input type="text" style="width:250px;  margin-left: 10px;" class="form-control select2bs4">
							              </div>
							              
							               <div style="display:inline-block;">
							            	  <a id="staffSearchBtn" class="btn btn-info" href="#" style="margin-left: 10px;">
									            <i class="fas fa-search">
									            </i>&ensp;검색
									          </a>  
							              </div>  
												              
						             </div>
								    <!--직원 서치폼 끝  -->
								    &ensp;
								    <!-- 직원 검색 리스트 시작 -->
								    <div class="row">			   
										 <div  id="staffList">
										  	<table id="example2" class="table table-bordered table-hover">
										    	<thead>
									                <tr>
									                  <th>지점명</th>
									                  <th>직원명</th>
									                  <th>직원 연락처</th>
									                  <th>직원 이메일</th>
									                  <th>직책</th>
									                  <th>입사일</th>	
									                  <th>선택</th>									                  
									                </tr>
										         </thead>
									             <tbody>
									              <tr>
									                <td>
									                	<input type="text" class="form-control" name=branchName style="border: 0" readonly="readonly" value="인천점">
									                </td>
									                <td>
														<input type="text" class="form-control" name=staffName2 style="border: 0" readonly="readonly" value="유기사">
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffTell style="border: 0" readonly="readonly" value="010-000-0000">        
									                </td> 
									                <td>
									                	<input type="text" class="form-control" name=staffEmail style="border: 0" readonly="readonly" value="id002@email.com">              
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffPosition style="border: 0" readonly="readonly" value="기사">                   
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffFromPeriod style="border: 0" readonly="readonly" value="2020-01-11">                   
									                </td>
									                
									                </td>  
									                	<td>
									                	<a id="staffListBtn" class="btn btn-sm btn-primary" style="vertical-align: middle; bottom: 0; margin-bottom: 18px; color:white;">
									                		<i class="fas fa-check"></i>            	
									                	</a>
									                </td>                          
									               
									              </tr>
									             </tbody>
											</table>
										  </div>
									</div>
									  								 	
								</div>
								<!--직원 리스트 끝  -->	  							   												
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
								</div>
							</div>
						</div>
					</div>
			   <!-- 직원 검색 모달 영역 끝-->                              
	                   

                  <div class="form-group" id="exchangeReason">
	                  <label>교환 사유</label>
	                  	 <input type="text" name="requestReason" class="form-control">
			            
	               </div>
	               
	               <div class="form-group" id="repairReason" style="display:none;">
	                  <label>메모</label>
			            <input type="text"  name="requestReason" class="form-control">
	                </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">방문예정일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="visitExpectedDate" class="form-control">
	                  </div>                  
           		  </div>    
                
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="receptionDate" class="form-control">
	                  </div>                  
           		  </div>             		            		 
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수자 아이디</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" name="staffId" class="form-control">
                    </div>
                  </div>			
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" id="btn" class="btn btn-info">등록</button>
                   <a th:href="@{/index}" class="btn btn-default float-right">취소</a>
                  
                </div>
                <!-- /.card-footer -->        
            </div>
        </div>    
   </section>
 </form>   
  </div> 
<script>
	$('.exchange').click(function(){
		$('#name1').text('교환 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('교환 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('교환 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');
		
		$('#exchangeReason').css('display','block');
		$('#repairReason').css('display','none');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action", "/eInsert");   
	        formObj.submit();                          
	    });


		
	});
	
	
	
	$('.repair').click(function(){
		$('#name1').text('수리 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('수리 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('수리 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');	
	
		$('#exchangeReason').css('display','none');
		$('#repairReason').css('display','block');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action","/rInsert");   
	        formObj.submit();                          
	    });
		
	});
	
	
	$('.person').click(function(){
		$('#id').text('고객 아이디');
		$('#id').next().attr('name','customerId');
		$('#name').text('고객명');
		$('#name').next().attr('name','customerName');
		$('#level').text('권한');
		$('#level').next().attr('name','customerLevel');
		$('#class').text('등급');
		$('#class').next().attr('name','customerClass');
		$('#call').text('전화번호');
		$('#call').next().attr('name','customerCall');

		$('#customerList').css('display','block');		
		$('#customerCompanyList').css('display','none');
		$('#customerPage').css('display','block');
		$('#customerCompanyPage').css('display','none');
		
		$('#customerBtn').css('display','block');
		$('#companyBtn').css('display','none');
		
		var formObj = $("form[role='form']"); 
		
		$('#customerSearchBtn').click(function(){
			
			 formObj.attr("action","/rInsert");   
		        formObj.submit();
			
		});
		
		     
	    });
	
	
	
	$('.company').click(function(){
		$('#id').text('고객 아이디');
		$('#id').next().attr('name','customerId');
		$('#name').text('회사명');
		$('#name').next().attr('name','customerCompanyName');
		$('#level').text('권한');
		$('#level').next().attr('name','customerLevel');
		$('#class').text('등급');
		$('#class').next().attr('name','customerClass');
		$('#call').text('전화번호');
		$('#call').next().attr('name','customerCompanyCall');
		$('#customerList').css('display','none');
		$('#customerCompanyList').css('display','block');
		$('#customerPage').css('display','none');
		$('#customerCompanyPage').css('display','block');
		
		
		$('#customerBtn').css('display','none');
		$('#companyBtn').css('display','block');
		
		
		var formObj = $("form[role='form']"); 
		
		$('#customerCompanySearchBtn').click(function(){
			
			 formObj.attr("action","/rInsert");   
		        formObj.submit();
			
		});
		     
	    });


		
	
	
	
	
	 $('#customerSearchList').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력 
	     console.log('click');
	     popupOpen();	//Popup Open 함수
	     
	     function popupOpen(){
	 		var url= "/customerSearchModal";    //팝업창 페이지 URL
	 		var winWidth = 700;
	 	    var winHeight = 600;
	 	    var popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
	 		window.open(url,"",popupOption);
	 	}

	 });

		
	 
	  $('#customerCompanySearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/customerCompanySearchModal";    
				var winWidth = 700;
			    var winHeight = 600;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	  
	  
	  
	  $('#contractSearchList').click(function(event){ 
		  console.log('click');
		  popupOpen();	
		  
		  function popupOpen(){
				var url= "/contractSearchModal";    
				var winWidth = 700;
			    var winHeight = 600;
			    var popupOption= "width="+winWidth+", height="+winHeight;    
				window.open(url,"",popupOption);
			}
			
		
		
	  
	  });
	  
	  
	
	
	$('#staffSearchBtn').click(function(){
		$('#staffList').css('display','block');
		
	});
	
	
	
	
	
	$('#staffListBtn').click(function(){	

		var staffName = $('input[name=staffName2]').val();
		
		   $('#9').val(staffName);
		    
	});
	
	


</script>  
  
</th:block>
</body>
</html>