<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>aInsert.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
    <section class="content-header"> 
       <div class="row mb-2">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
    </section>  
      
  <!--A/S 접수 등록  -->
 <form role="form" method="post">
  <section class="content">
  	<div class="container-fluid">
	
	<div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">A/S 접수 등록</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">    
                 
                 <!-- 작업 구분 시작 -->
	              <div class="col-md-6" style="max-width: 25%;">
	                <div class="form-group" style="height:70px;">
		                
		                 <label style="margin-bottom: 15px;">작업 구분</label><br>
		                  <div class="icheck-primary d-inline">
		                    <input class="exchange" type="radio" name="r1" id="radioPrimary1" value="a">
		                    <label for="radioPrimary1">
		                    	교환
		                    </label>
		                  </div>
		                  <div class="icheck-primary d-inline">
		                    <input class="repair" type="radio" name="r1" id="radioPrimary2">
		                    <label for="radioPrimary2">
		                    	수리
		                    </label>
		                  </div>
		             
	                </div>
	              </div>
              <!--작업 구분 끝  --> 
              <!-- 고객 검색 모달 버튼 시작-->	
	               <div class="form-group">  
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal">
							<i class="fas fa-search">고객 검색</i>   
						</button>										
				   </div>
			 <!-- 고객 검색 모달 버튼 끝-->			
					 
					<!-- 고객 검색 모달 영역 시작-->						
					<div class="modal fade" id="myLargeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-xl" role="document">
							<div class="modal-content">
								<div class="modal-header">								
									<h4 class="modal-title" id="myModalLabel">고객 검색</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								</div>
								
								<!--고객 서치폼 시작  -->
								<div class="modal-body">
								   <div class="row">					
						             	 <div style="display:inline-block;">
						                 	<select class="form-control" style="width: 130px;">                            	
							                   		<option>고객명</option>  
							                   		<option>고객 아이디</option> 
							                   		<option>전화번호</option>  
							                   		<option>이메일</option>      
							          	    </select>        	
						              	 </div>
	
							              <div style="display:inline-block;">
									          <input type="text" style="width:250px;  margin-left: 10px;" class="form-control select2bs4">
							              </div>
							              
							               <div style="display:inline-block;">
							            	  <a id="customerSearchBtn" class="btn btn-info" href="#" style="margin-left: 10px;">
									            <i class="fas fa-search">
									            </i>&ensp;검색
									          </a>  
							              </div>  
												              
						             </div>
								    <!--고객 서치폼 끝  -->
								    &ensp;
								    <!-- 고객 검색 리스트 시작 -->
								    <div class="row">			   
										 <div  id="customerList" style="display:none;">
										  	<table id="example2" class="table table-bordered table-hover">
										    	<thead>
									                <tr>
									                  <th>고객 아이디</th>
									                  <th>고객명</th>
									                  <th>권한</th>
									                  <th>등급</th>
									                  <th>전화번호</th>
									                  <th>이메일</th>
									                  <th>우편번호</th>
									                  <th>기본주소</th>
									                  <th>상세주소</th>                 
									                  <th>선택</th>
									                </tr>
										         </thead>
									             <tbody>
									              <tr>
									                <td>
									                	<input type="text" class="form-control" name=customerId style="border: 0" readonly="readonly" value="client01">
									                </td>
									                <td>
														<input type="text" class="form-control" name=customerName style="border: 0" readonly="readonly" value="김철수">
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=customerLevel style="border: 0" readonly="readonly" value="개인">        
									                </td> 
									                <td>
									                	<input type="text" class="form-control" name=customerClass style="border: 0" readonly="readonly" value="브론즈">              
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=customerCall style="border: 0" readonly="readonly" value="010-000-0001">                   
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=customerEmail style="border: 0" readonly="readonly" value="cus01@email.com">                   
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=zipCode style="border: 0" readonly="readonly" value="111-11"> 
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=customerAddress style="border: 0" readonly="readonly" value="서울시 구로구">
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=customerAddress2 style="border: 0" readonly="readonly" value="XX아파트 X동XXX호">                	
									                </td>  
									                	<td>
									                	<a id="customerListBtn" class="btn btn-sm btn-primary" style="vertical-align: middle; bottom: 0; margin-bottom: 18px; color:white;">
									                		<i class="fas fa-check"></i>            	
									                	</a>
									                </td>                          
									               
									              </tr>
									             </tbody>
											</table>
										  </div>
									</div>
									  								 	
								</div>
								<!--고객 리스트 끝  -->	  							   												
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
								</div>
							</div>
						</div>
					</div>
			   <!-- 고객 검색 모달 영역 끝-->                              
	                   
                   <label for="inputEmail3" class="col-sm-2 col-form-label">고객 아이디</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="3" name="customerId" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객명</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="a" name="customerName" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">고객 연락처</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                       <input type="text" id="b" name="customerCall" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  
                  
                   <label for="inputEmail3" class="col-sm-2 col-form-label">우편 번호</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" id="c" name="zipCode" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">기본 주소</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                       <input type="text" id="d" name="customerAddress" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">상세 주소</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                       <input type="text" id="e" name="customerAddress2" class="form-control" readonly="readonly" placeholder="고객을 검색해주세요.">
                    </div>
                  </div>
                  &ensp;
                  
                  
                  <!-- 계약서 검색 모달 버튼 시작-->	
                  <div class="form-group">  
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal2">
						<i class="fas fa-search">계약서 검색</i>   
					</button>					
				</div>
				<!-- 계약서 검색 모달 버튼  끝-->
				<!-- 계약서 검색 모달 영역 시작-->						
				<div class="modal fade" id="myLargeModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<div class="modal-header">								
								<h4 class="modal-title" id="myModalLabel">계약서 검색</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							</div>
							
							<!--계약서 서치폼 시작  -->
							<div class="modal-body">
							   <div class="row">					
					             	 <div style="display:inline-block;">
					                 	<select class="form-control" style="width: 130px;">                            	
						                   		<option>계약서 코드</option> 
						                   		<option>계약서 No</option>      
						                   		<option>고객 아이디</option>        
						          	    </select>        	
					              	 </div>

						              <div style="display:inline-block;">
								          <input type="text" style="width:250px;  margin-left: 10px;" class="form-control select2bs4">
						              </div>
						              
						               <div style="display:inline-block;">
						            	  <a id="contractSearchBtn" class="btn btn-info" href="#" style="margin-left: 10px;">
								            <i class="fas fa-search">
								            </i>&ensp;검색
								          </a>  
						              </div>  
											              
					             </div>
							    <!--계약서 서치폼 끝  -->
							    &ensp;
							    <!-- 계약서 리스트 시작 -->
							    <div class="row">			   
									 <div id="contractList" style="display:none;">
									  	<table id="example2" class="table table-bordered table-hover">
									    	<thead>
								                <tr>
								                  <th>계약서 코드</th>
								                  <th>계약서 No</th>
								                  <th>고객 아이디</th>
								                  <th>상품 코드</th>
								                  <th>상품 세트 코드</th>
								                  <th>세트 NO</th>
								                  <th>주문갯수</th>
								                  <th>렌탈신청일자</th>
								                  <th>렌탈종료일자</th>
								                  <th>선택</th>
								                </tr>
									         </thead>
								             <tbody>
								                <td>
								                	<input type="text" class="form-control" name=contractCode style="border: 0" readonly="readonly" value="contract00001">
								                </td>
								                <td>
													<input type="text" class="form-control" name=contractNo style="border: 0" readonly="readonly" value="1">
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=customerId style="border: 0" readonly="readonly" value="client01">        
								                </td> 
								                <td>
								                	<input type="text" class="form-control" name=goodsCode style="border: 0" readonly="readonly" value="goods_001">              
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=setCode style="border: 0" readonly="readonly" value="desctop01">                   
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=setNo style="border: 0" readonly="readonly" value="1"> 
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=rentalCount style="border: 0" readonly="readonly" value="20">
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=rentalFromDate style="border: 0" readonly="readonly" value="2019-11-12">                	
								                </td>
								                <td>
								                	<input type="text" class="form-control" name=rentalToDate style="border: 0" readonly="readonly" value="2020-11-11">                	
								                </td>
								                <td>
								                	<a id="contractListBtn" class="btn btn-sm btn-primary" style="vertical-align: middle; bottom: 0; margin-bottom: 18px; color:white;">
								                		<i class="fas fa-check"></i>            	
								                	</a>
								                	
								                </td>
								              </tr>
								             </tbody>
										</table>
									  </div>
								</div>
								  								 	
							</div>
							<!--계약서 리스트 끝  -->	  							   												
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
							</div>
						</div>
					</div>
				</div>
		   <!-- 계약서 검색 모달 영역 끝-->	   	
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 코드</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="1" name="contractCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">계약서 No</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="2" name="contractNo" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  
                  
                  
                   <label for="inputEmail3" id="name1" class="col-sm-2 col-form-label">교환 대상 상품코드</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="4"  name="goodsCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                   <label for="inputEmail3" id="name3" class="col-sm-2 col-form-label">교환 대상 상품 세트 코드</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="5" name="setCode" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" id="name2" class="col-sm-2 col-form-label">교환 대상 상품 세트 No</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="6" name="setNo" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 시작 일자</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                       <input type="text" id="7" name="rentalFromDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">렌탈 종료 일자</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" id="8" name="rentalToDate" class="form-control" readonly="readonly" placeholder="계약서를 검색해주세요.">
                    </div>
                  </div>
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 출동 지점</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">
	                  	<select name="branchName" class="form-control" style="width: 100px;">
	                  		<option>본사</option>
	                  		<option>인천점</option>
	                  		<option>전주점</option>
	                  		<option>부산점</option>                  	
	                  	</select>	               		                   
	                  </div>                  
           		  </div>
           		             		  
           		  
           		   <label for="inputEmail3" class="col-sm-2 col-form-label">A/S 출동 기사명</label>
                  <div class="input-group mb-3" style="width: 300px;">
                  <input type="text" class="form-control" id="9" name="staffName" placeholder="직원을 검색해주세요.">              
	                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myLargeModal3" style="margin-left: 10px;">
	                    	<i class="fas fa-search">검색</i> 
	                    </button>             
                 </div>
           		   
           		  
                  
                 <!-- 직원 검색 모달 영역 시작-->						
					<div class="modal fade" id="myLargeModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-xl" role="document">
							<div class="modal-content">
								<div class="modal-header">								
									<h4 class="modal-title" id="myModalLabel">출동 기사 조회</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								</div>
								
								<!--직원 서치폼 시작  -->
								<div class="modal-body">
								   <div class="row">	
								   		<div style="display:inline-block;">
						                 	<select class="form-control" style="width: 130px;">                            	
							                   		<option>::지점 선택::</option>  
							                   		<option>본사</option> 
							                   		<option>인천점</option>  
							                   		<option>부산점</option>  
							                   		<option>전주점</option>      
							          	    </select>        	
						              	 </div>
								   			&ensp;	
						             	 <div style="display:inline-block;">
						                 	<select class="form-control" style="width: 130px;">                            	
							                   		<option>직원명</option>  							                   		   
							          	    </select>        	
						              	 </div>
						              	 
						              	 
	
							              <div style="display:inline-block;">
									          <input type="text" style="width:250px;  margin-left: 10px;" class="form-control select2bs4">
							              </div>
							              
							               <div style="display:inline-block;">
							            	  <a id="staffSearchBtn" class="btn btn-info" href="#" style="margin-left: 10px;">
									            <i class="fas fa-search">
									            </i>&ensp;검색
									          </a>  
							              </div>  
												              
						             </div>
								    <!--직원 서치폼 끝  -->
								    &ensp;
								    <!-- 직원 검색 리스트 시작 -->
								    <div class="row">			   
										 <div  id="staffList">
										  	<table id="example2" class="table table-bordered table-hover">
										    	<thead>
									                <tr>
									                  <th>지점명</th>
									                  <th>직원명</th>
									                  <th>직원 연락처</th>
									                  <th>직원 이메일</th>
									                  <th>직책</th>
									                  <th>입사일</th>	
									                  <th>선택</th>									                  
									                </tr>
										         </thead>
									             <tbody>
									              <tr>
									                <td>
									                	<input type="text" class="form-control" name=branchName style="border: 0" readonly="readonly" value="인천점">
									                </td>
									                <td>
														<input type="text" class="form-control" name=staffName2 style="border: 0" readonly="readonly" value="유기사">
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffTell style="border: 0" readonly="readonly" value="010-000-0000">        
									                </td> 
									                <td>
									                	<input type="text" class="form-control" name=staffEmail style="border: 0" readonly="readonly" value="id002@email.com">              
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffPosition style="border: 0" readonly="readonly" value="기사">                   
									                </td>
									                <td>
									                	<input type="text" class="form-control" name=staffFromPeriod style="border: 0" readonly="readonly" value="2020-01-11">                   
									                </td>
									                
									                </td>  
									                	<td>
									                	<a id="staffListBtn" class="btn btn-sm btn-primary" style="vertical-align: middle; bottom: 0; margin-bottom: 18px; color:white;">
									                		<i class="fas fa-check"></i>            	
									                	</a>
									                </td>                          
									               
									              </tr>
									             </tbody>
											</table>
										  </div>
									</div>
									  								 	
								</div>
								<!--직원 리스트 끝  -->	  							   												
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
								</div>
							</div>
						</div>
					</div>
			   <!-- 직원 검색 모달 영역 끝-->                              
	                   

                  <div class="form-group" id="exchangeReason">
	                  <label>교환 사유</label>
			            <select class="form-control" name="requestReason" style="width: 200px;">
			           	    <option>::선택해주세요::</option>
			           	    <option>단순 변심</option>
			           	    <option>상품 파손 및 불량</option>
			           	    <option>배송 지연</option>
			            	<option>오배송</option>
			            	<option>상품 정보와 상이</option>			            			            
			            </select>
	               </div>
	               
	               <div class="form-group" id="repairReason" style="display:none;">
	                  <label>메모</label>
			            <input type="text" class="form-control">
	                </div>
                  
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">방문예정일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="visitExpectedDate" class="form-control">
	                  </div>                  
           		  </div>    
                
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수일</label>
                  <div class="form-group row">
	                  <div class="col-sm-10">	               		                   
	                   <input type="date" name="receptionDate" class="form-control">
	                  </div>                  
           		  </div>             		            		 
                  
                  <label for="inputEmail3" class="col-sm-2 col-form-label">접수자명</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" name="staffName" class="form-control">
                    </div>
                  </div>			
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" id="btn" class="btn btn-info">등록</button>
                   <a th:href="@{/index}" class="btn btn-default float-right">취소</a>
                  
                </div>
                <!-- /.card-footer -->        
            </div>
        </div>    
   </section>
 </form>   
  </div> 
<script>
	$('.exchange').click(function(){
		$('#name1').text('교환 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('교환 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('교환 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');
		
		$('#exchangeReason').css('display','block');
		$('#repairReason').css('display','none');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action", "/eInsert");   
	        formObj.submit();                          
	    });


		
	});
	
	
	
	$('.repair').click(function(){
		$('#name1').text('수리 대상 상품 코드');
		$('#name1').next().attr('name','goodsCode');
		$('#name2').text('수리 대상 상품 세트 No');
		$('#name2').next().attr('name','setNo');
		$('#name3').text('수리 대상 상품 세트 코드');
		$('#name3').next().attr('name','setCode');	
	
		$('#exchangeReason').css('display','none');
		$('#repairReason').css('display','block');
		
		var formObj = $("form[role='form']"); 

		$("#btn").on("click", function(){
	        formObj.attr("action","/rInsert");   
	        formObj.submit();                          
	    });
		
	})
	
	
	
	$('#contractSearchBtn').click(function(){
		$('#contractList').css('display','block');
		
	});
	
	$('#customerSearchBtn').click(function(){
		$('#customerList').css('display','block');
		
	});
	
	
	$('#staffSearchBtn').click(function(){
		$('#staffList').css('display','block');
		
	});
	
	
	$('#contractListBtn').click(function(){
		
		var contractCode = $('input[name=contractCode]').val();
		var contractNo = $('input[name=contractNo]').val();		
		var goodsCode = $('input[name=goodsCode]').val();
		var setCode = $('input[name=setCode]').val();
		var setNo = $('input[name=setNo]').val();
		var rentalFromDate = $('input[name=rentalFromDate]').val();
		var rentalToDate = $('input[name=rentalToDate]').val();
		
		   $('#1').val(contractCode);
		   $('#2').val(contractNo);		 
		   $('#4').val(goodsCode);
		   $('#5').val(setCode);
		   $('#6').val(setNo);
		   $('#7').val(rentalFromDate);		   
		   $('#8').val(rentalToDate);		 
		    
	});
	
	

	$('#customerListBtn').click(function(){	
		var customerId = $('input[name=customerId]').val();
		var customerName = $('input[name=customerName]').val();
		var customerCall = $('input[name=customerCall]').val();
		var zipCode = $('input[name=zipCode]').val();
		var customerAddress = $('input[name=customerAddress]').val();
		var customerAddress2 = $('input[name=customerAddress2]').val();
		var customerEmail = $('input[name=customerEmail]').val();
		
		
		   $('#3').val(customerId);
		   $('#a').val(customerName);
		   $('#b').val(customerCall);
		   $('#c').val(zipCode);
		   $('#d').val(customerAddress);
		   $('#e').val(customerAddress2);
		   $('#f').val(customerEmail);		   
		 
		    
	});
	
	
	
	$('#staffListBtn').click(function(){	

		var staffName = $('input[name=staffName2]').val();
		
		   $('#9').val(staffName);
		    
	});
	
	


</script>  
  
</th:block>
</body>
</html>