<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>

<th:block layout:fragment="customTitle">
	<title>eList.html</title>
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
 <div class="content-wrapper">
     <section class="content-header">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>A/S접수 현황</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
           </ol>
         </div>
       </div>
     </section>  
     
    <!--  검색 -->
     <section class="content-header">  
      <div class="container-fluid">   
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">검색창</h3>
		        <div class="card-tools">
				    <div style="display: inline-block;">
				    	  <button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
				    </div>
				    <div style="display: inline-block;">
				    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
				    </div>
	   			</div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
	            <div class="form-group" style="padding-bottom: 15px;">	
					<div style="display: inline-block;">
						<select class="form-control select2bs4" style="width: 100%;" name="staffLevel">
					        <option>작업 구분</option>
					        <option>교환</option>
					        <option>수리</option>
					    </select>
				    </div> 
				    
				    
				    <div style="display: inline-block;">
						<select class="form-control select2bs4" style="width: 100%;" name="staffLevel">
					        <option>진행 상황</option>
					        <option>진행 중</option>
					        <option>진행 완료</option>
					    </select>
				    </div> 

				    
				     <div style="display: inline-block;">
						<select class="form-control select2bs4" style="width: 100%;" name="staffLevel">
					        <option>요청인</option>
					        <option>A/S 처리점</option>
					        <option>A/S 처리기사</option>
					    </select>
				    </div> 
				    
				    <div style="display: inline-block;">
						<input type="date" name="updateDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
				    </div> 
				<!-- sv  -->      	          
				 	<div style="display: inline-block;">
						<input type="text" class="form-control select2bs4">		           		
				    </div>		          
				    <div style="display: inline-block;margin-left:0px;">
				    	<button type="submit" class="btn btn-info">
				           		검색
				        </button>
				    </div>		           
				</div>
              </div>             
            </div>
          </div>
      </div>
    </section>
    <!--검색 end-->
     <section class="content-header">  
      <div class="container-fluid">
	<div class="card">
	 <div class="card-body" style="margin-top:20px">

	  	<table id="example2" class="table table-bordered table-hover">
	    	<thead>
                <tr>
                  <th>접수 코드</th>
                  <th>작업 구분</th> 
                  <th>진행 상황</th>              
                  <th>요청인</th>
                  <th>A/S처리점</th>
                  <th>A/S처리 기사</th>
                  <th>접수일</th>
                  <th>상세보기</th>
                  <th>삭제</th>
                </tr>
	         </thead>
             <tbody>
              <tr>
                <td>reception_code01</td>
                <td>교환</td>
                <td>진행 중</td>
                <td>김아무개</td>
                <td>goods_code01</td>
                <td>goods_code01</td>
                <td>20xx-00-00</td>            
                <td> 
					<a class="btn btn-primary btn-sm" th:href="@{/eUpdate}">
	                   <i class="fas fa-folder">
	                   </i>
	                    	확인
	                </a>    		
				</td>
				<td>							
					<a class="btn btn-danger btn-sm" th:href="@{/eDelete}" id="btn-remove">
                       <i class="fas fa-trash">
                       </i>
                            	 삭제
                    </a>
				</td>						
              </tr>
              <tr>
                <td>reception_code01</td>
                <td>수리</td>
                <td>진행 중</td>
                <td>이아무개</td>
                <td>goods_code01</td>
                <td>goods_code01</td>
                <td>20xx-00-00</td>            
                <td> 
					<a class="btn btn-primary btn-sm" th:href="@{/rUpdate}">
	                   <i class="fas fa-folder">
	                   </i>
	                    	확인
	                </a>    		
				</td>
				<td>							
					<a class="btn btn-danger btn-sm" th:href="@{/rDelete}" id="btn-remove">
                       <i class="fas fa-trash">
                       </i>
                            	 삭제
                    </a>
				</td>						
              </tr>
             </tbody>
		</table>
	  </div>
	 </div>
      	
    </div>
    </section>

 </th:block>

<!-- jQuery -->
<!-- Page script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

</body>
</html>