<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
  <th:block layout:fragment="customTitle">
    <title>index</title>
  </th:block>

  <body class="hold-transition sidebar-mini layout-fixed">
    <th:block layout:fragment="customContents">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    
      <div class="content-wrapper">
	       
                    <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">렌탈반납지연</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="allBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
        	</div>
        	<div class="card">
			  <div class="card-body">
			  	<table id="delayTable" class="table table-bordered table-hover"  style="margin-top: 22px;">
			    	<thead>
		                <tr>
		                  <th>고객명</th>
		                  <th>주소</th>
		                  <th>전화번호</th>
		                  <th>렌탈종료일</th>
		                  <th>렌탈반납일</th>
		                </tr>
			         </thead>
		             <tbody>
		             	<tr th:each="l: ${list}">
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerName}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyName}"></td>
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerAddress}+${l.customerAddress2}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyAddress1}+${l.customerCompanyAddress2}"></td>
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerCall}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyCall}"></td>
		             		<td th:text="${l.rentalToDate}"></td>
		             		<td th:text="${l.returnedDate}"></td>
		              	</tr>
		             </tbody>
				</table>
			  </div>
	 		</div>
      </div>

<!-- ChartJS -->
<script src="../../plugins/chart.js/Chart.min.js"></script>

<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
  $(function () {
	  /*<![CDATA[*/
	  	var chart = /*[[${chart}]]*/
	  /*]]>*/
	  var monthArr = []
	  var dataArr = []
	  for(var i=0; i<chart.length; i++){
		  var month;
		  if(i==0){
				  month = chart[i].year+"년 " +chart[i].month+"월"
		  }else{
			  if(chart[i].month==1){
				  month = chart[i].year+"년 " +chart[i].month+"월"
			  }else{
				  month = chart[i].month+"월"
			  }
		  }
		  monthArr.push(month)
	  } 
	  for(var i=0; i<chart.length; i++){
		  dataArr.push(chart[i].cnt)
	  }
		 
    //렌탈 반납지연율
    areaChartData = {
      labels  : monthArr,
      datasets: [
        {
          label               : '렌탈 반납지연',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : dataArr
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#allBarChart').get(0).getContext('2d')
    var barChartData = jQuery.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    var barChart = new Chart(barChartCanvas, {
      type: 'bar', 
      data: barChartData,
      options: barChartOptions
    })
    
    $(document).ready( function () {
        $('#delayTable').DataTable();
    } );
    
  })
</script>
    </th:block>
  </body>
</html>
