<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
  <th:block layout:fragment="customTitle">
    <title>index</title>
  </th:block>
<body class="hold-transition sidebar-mini layout-fixed">
   <th:block layout:fragment="customContents">

  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>

      <div class="content-wrapper">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">고객 등급 비율</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
		    <div class="card">
			  <div class="card-body">
			  	<table id="gradeTable" class="table table-bordered table-hover"  style="margin-top: 22px;">
			    	<thead>
		                <tr>
		                  <th>고객등급</th>
		                  <th>고객명</th>
		                  <th>주소</th>
		                  <th>전화번호</th>
		                  <th>계약 총금액</th>
		                </tr>
			         </thead>
		             <tbody>
		             	<tr th:each="l: ${gradeList}">
		             		<td th:text="${l.customerClass}"></td>
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerName}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyName}"></td>
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerAddress}+${l.customerAddress2}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyAddress1}+${l.customerCompanyAddress2}"></td>
		             		<td th:if="${l.customerCompanyName}==null" th:text="${l.customerCall}"></td>
		             		<td th:if="${l.customerCompanyName}!=null" th:text="${l.customerCompanyCall}"></td>
		             		<td th:text="${#numbers.formatInteger(l.total, 3, 'COMMA')}"></td>
		              	</tr>
		             </tbody>
				</table>
			  </div>
	 		</div>
            
      </div>

<!-- ChartJS -->
<script src="../../plugins/chart.js/Chart.min.js"></script>
<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
  $(function () {
    
    //고객 등급 비율
    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
	
    var gradeData = [];
    //회원별 구분
    /*<![CDATA[*/
    	/*[# th:each="l : ${gradeForStatis}"]*/
    		if(String(/*[[${l.customerClass}]]*/)=="골드 회원"){
    			gradeData.push(/*[[${l.gradeCnt}]]*/);
    		}else if(String(/*[[${l.customerClass}]]*/)=="실버 회원"){
    			gradeData.push(/*[[${l.gradeCnt}]]*/);
    		}else if(String(/*[[${l.customerClass}]]*/)=="브론즈 회원"){
    			gradeData.push(/*[[${l.gradeCnt}]]*/);
    		}else if(String(/*[[${l.customerClass}]]*/)=="플래티넘 회원"){
    			gradeData.push(/*[[${l.gradeCnt}]]*/);
    		}
    	/*[/]*/
    /*]]>*/
    
    var pieData        = {
      labels: [
          '골드 회원', 
          '실버 회원',
          '브론즈회원', 
          '플래티넘회원',
      ],
      datasets: [
        {
          data: gradeData,
          backgroundColor : ['#ffd700', '#c0c0c0', '#800000', '#9a9a9a', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = pieData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions   
    })
    
    $(document).ready( function () {
        $('#gradeTable').DataTable();
    } );
    
  })
</script>
    </th:block>
  </body>
</html>
