<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.BoardMapper">
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO
			board
				(  board_title
				, board_content
				, staff_id
				, board_wrt_date
				)
		VALUES
			( #{boardTitle}
			, #{boardContent}
			, '201804_0001'
			, NOW()
			)
	</insert>
	
	<select id="getBoardCnt" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			board
	</select>
	<select id="getBoardList" resultType="Board" parameterType="int">
		SELECT 
			board_no AS boardNo
			,board_title AS boardTitle
			,board_content AS boardContent
			,staff_name AS staffName
			,board_wrt_date AS boardWrtDate
			,board_modi_date AS boardModiDate
			,board_view_cnt AS boardViewCnt
		FROM
			board
		INNER JOIN
			staff
		ON 
			board.staff_id = staff.staff_code
		ORDER BY board_no DESC
		LIMIT ${startClmn}, ${endClmn}
	</select>
	<select id="getBoard" resultType="Board" parameterType="String">
		SELECT 
			board_no AS boardNo
			,board_title AS boardTitle
			,board_content AS boardContent
			,staff_name AS staffName
			,board_wrt_date AS boardWrtDate
			,board_modi_date AS boardModiDate
			,board_view_cnt AS boardViewCnt
		FROM
			board
		INNER JOIN
			staff
		ON 
			board.staff_id = staff.staff_code
		WHERE 
			board_no = #{no}
	</select>
	<update id="viewBoard" parameterType="String">
		UPDATE board SET
			board_view_cnt = board_view_cnt+1
		WHERE 
			board_no = #{no}
	</update>
	<update id="modifyBoard" parameterType="Board">
		UPDATE board SET
			  board_title = #{boardTitle}
			, board_content = #{boardContent}
			, board_modi_date = NOW() 
		WHERE 
			board_no = #{boardNo}
	</update>
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM
			board
		WHERE
			board_no = #{no}
	</delete>
</mapper>