<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.CommuteMapper">
	<resultMap type="Commute" id="commuteResultMap">
		<result property="staffName" column="staff_name"/>
		<result property="commuteDate" column="commute_date"/>
		<result property="commuteArrive" column="commute_arrive"/>
		<result property="commuteLeave" column="commute_leave"/>
		<result property="commuteLateness" column="commute_lateness"/>
		<result property="commuteEarlyleave" column="commute_earlyleave"/>
		<result property="commuteHoliday" column="commute_holiday"/>
	</resultMap>
	
	<select id="commuteList" parameterType="Map" resultMap="commuteResultMap">
		SELECT
			  staff_name
			, commute_date
			, commute_arrive
			, commute_leave
			, commute_lateness
			, commute_earlyleave
			, commute_holiday
		FROM
			commute
		INNER JOIN
			staff
		ON 
			commute.staff_id = staff.staff_code
			AND 
			commute.staff_id = #{staffId}
		ORDER BY commute_date DESC
		LIMIT #{startClmn}, #{clmnCnt}
	</select>	
	<select id="getCommuteListCnt" parameterType="String" resultType="int">
		SELECT
			 COUNT(1)
		FROM
			commute
		INNER JOIN
			staff
		ON 
			commute.staff_id = staff.staff_code
			AND 
			commute.staff_id = #{staffId}
	</select>
	
	<resultMap type="Holiday" id="holidayResultMap">
		<result property="holidayCode" column="holiday_code"/>
		<result property="staffName" column="staff_name"/>
		<result property="holidayFromDate" column="holiday_from_date"/>
		<result property="holidayToDate" column="holiday_to_date"/>
		<result property="holidaySort" column="holiday_sort"/>
	</resultMap>
	<select id="getHolidayList" parameterType="String" resultMap="holidayResultMap">
		SELECT 
			holiday_code,
			staff_name,
			holiday_from_date,
			holiday_to_date,
			holiday_sort
		FROM
			holiday
		INNER JOIN
			staff
		ON 
			staff.staff_code=holiday.staff_id
		WHERE 
			staff_id = #{staffId}
		ORDER BY
			holiday_from_date ASC
	</select>
	<select id="getHolidayCode" resultType="int">
		SELECT 
			CAST(SUBSTRING(holiday_code, 8) AS DECIMAL) AS holidayCode
		FROM 
			holiday
		ORDER BY 
			holidayCode DESC
		LIMIT 1
	</select>
	<insert id="insertHoliday" parameterType="Holiday">
		INSERT INTO 
		holiday (
			  holiday_code
			, staff_id
			, holiday_from_date
			, holiday_to_date
			, holiday_sort) 
		VALUES (
			  #{holidayCode}
			, #{staffId}
			, #{holidayFromDate}
			, #{holidayToDate}
			, #{holidaySort});
	</insert>
	<delete id="deleteHoliday">
		DELETE FROM
			holiday
		WHERE
			holiday_code = #{hCode}	
	</delete>
</mapper>