<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.CommuteMapper">
	<resultMap type="Commute" id="commuteResultMap">
		<result property="staffName" column="staff_name"/>
		<result property="commuteDate" column="commute_date"/>
		<result property="commuteArrive" column="commute_arrive"/>
		<result property="commuteLeave" column="commute_leave"/>
		<result property="commuteLateness" column="commute_lateness"/>
		<result property="commuteEarlyleave" column="commute_earlyleave"/>
		<result property="holidaySort" column="holiday_sort"/>
	</resultMap>
	
	<select id="commuteList" parameterType="Map" resultMap="commuteResultMap">
		SELECT
			  S.staff_name
			, CH.commute_date
			, CH.commute_arrive
			, CH.commute_leave
			, CH.commute_lateness
			, CH.commute_earlyleave
			, CH.holiday_sort
		FROM
		(
		SELECT
			  C.staff_id
			, C.commute_date
			, C.commute_arrive
			, C.commute_leave
			, C.commute_lateness
			, C.commute_earlyleave
			, H.holiday_sort
		FROM
			commute AS C
		LEFT JOIN
			holiday AS H
		ON 
			C.staff_id = H.staff_id
			AND
			C.commute_date&gt;H.holiday_from_date 
			AND 
			C.commute_date&lt;H.holiday_to_date
		) AS CH
		INNER JOIN
			staff AS S
		ON 
			CH.staff_id = S.staff_code
		WHERE CH.staff_id = #{staffId}
		ORDER BY CH.commute_date DESC
		LIMIT ${column}, ${column+10}
	</select>	
	<select id="getCommuteListCnt" parameterType="String" resultType="int">
		SELECT
			 COUNT(1)
		FROM
			commute
		INNER JOIN
			staff
		ON 
			commute.staff_id = staff.staff_code
			AND 
			commute.staff_id = #{staffId}
	</select>
	
	<resultMap type="Holiday" id="holidayResultMap">
		<result property="holidayCode" column="holiday_code"/>
		<result property="staffName" column="staff_name"/>
		<result property="holidayFromDate" column="holiday_from_date"/>
		<result property="holidayToDate" column="holiday_to_date"/>
		<result property="holidaySort" column="holiday_sort"/>
	</resultMap>
	<select id="getHolidayList" parameterType="String" resultMap="holidayResultMap">
		SELECT 
			holiday_code,
			staff_name,
			holiday_from_date,
			holiday_to_date,
			holiday_sort
		FROM
			holiday
		INNER JOIN
			staff
		ON 
			staff.staff_code=holiday.staff_id
		WHERE 
			staff_id = #{staffId}
		ORDER BY
			holiday_from_date ASC
	</select>
	<select id="getHolidayListNow" parameterType="String" resultMap="holidayResultMap">
		SELECT 
			holiday_code,
			staff_name,
			holiday_from_date,
			holiday_to_date,
			holiday_sort
		FROM
			holiday
		INNER JOIN
			staff
		ON 
			staff.staff_code=holiday.staff_id
		WHERE 
			holiday_from_date > NOW() AND staff_id = #{staffId} 
		ORDER BY
			holiday_from_date ASC
	</select>
	<select id="getHolidayCode" resultType="Integer">
		SELECT 
			CAST(SUBSTRING(holiday_code, 8) AS DECIMAL) AS holidayCode
		FROM 
			holiday
		ORDER BY 
			holidayCode DESC
		LIMIT 1
	</select>
	<insert id="insertHoliday" parameterType="Holiday">
		INSERT INTO 
		holiday (
			  holiday_code
			, staff_id
			, holiday_from_date
			, holiday_to_date
			, holiday_sort) 
		VALUES (
			  CONCAT('holiday',LPAD(#{holidayCode}, 5, 0))
			, #{staffId}
			, #{holidayFromDate}
			, #{holidayToDate}
			, #{holidaySort});
	</insert>
	<delete id="deleteHoliday">
		DELETE FROM
			holiday
		WHERE
			holiday_code = #{hCode}	
	</delete>
</mapper>