<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.or.ksmart.mapper.CustomerMapper">
 
 	<resultMap type="kr.or.ksmart.domain.Customer" id="customerResultMap">
		<result property="customerId" column="customer_id"/>
		<result property="customerPw" column="customer_pw"/>
		<result property="customerLevel" column="customer_level"/>
		<result property="customerClass" column="customer_class"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCall" column="customer_call"/>
		<result property="customerEmail" column="customer_email"/>
		<result property="zipCode" column="zip_code"/>
		<result property="customerAddress" column="customer_address"/>
		<result property="customerAddress2" column="customer_address2"/>
		<result property="inputStaffCode" column="input_staff_code"/>
		<result property="inputStaffName" column="input_staff_name"/>
		<result property="inputDate" column="input_date"/>
		<result property="updateStaffCode" column="update_staff_code"/>
		<result property="updateStaffName" column="update_staff_name"/>
		<result property="updateDate" column="update_date"/>
	</resultMap>
	
	
 	<!--개인 고객 등록  -->
 	<insert id="cInsert" parameterType="kr.or.ksmart.domain.Customer">
	INSERT INTO customer  (   customer_id
							 ,customer_pw
							 ,customer_level 
						     ,customer_class 	
							 ,customer_name
							 ,customer_call
							 ,customer_email
							 ,zip_code
							 ,customer_address
							 ,customer_address2
							 ,input_staff_code
							 ,input_staff_name
							 ,input_date
							 ) VALUES(
							   #{customerId}
							 , #{customerPw}
							 , #{customerLevel}
							 , #{customerClass}
							 , #{customerName}
							 , #{customerCall}
							 , #{customerEmail}
							 , #{zipCode}
							 , #{customerAddress}
							 , #{customerAddress2}
							 , #{inputStaffCode} 
							 , #{inputStaffName}
							 , now()  
							 );
	
	
	
	</insert>
 
 
 
	 <!--개인 고객 리스트  -->
	 <select id="getCustomerList" parameterType="String" resultType="kr.or.ksmart.domain.Customer">
		SELECT
				 customer_id    AS customerId
				,customer_name 	AS customerName
				,customer_class	AS customerClass
				,customer_level	AS customerLevel
				,input_date	    AS inputDate

			FROM
				customer
		</select>
		
	  <!--개인 고객 상세보기  -->
	  <select id="SelectForUpdate" parameterType="String" resultMap="customerResultMap">
		SELECT
			                  customer_id
							 ,customer_pw
							 ,customer_level 
						     ,customer_class 	
							 ,customer_name
							 ,customer_call
							 ,customer_email
							 ,zip_code
							 ,customer_address
							 ,customer_address2
							 ,input_staff_code
							 ,input_staff_name
							 ,input_date
							 ,update_staff_code 
							 ,update_staff_name
							 ,update_date
		FROM   customer
		WHERE
		customer_id = #{customerId};
	</select>
	
	<!--개인 고객 업데이트  -->
	<update id="cUpdate" parameterType="kr.or.ksmart.domain.Customer">
		UPDATE customer
		SET
			customer_id=#{customerId},
			customer_pw=#{customerPw},
			customer_name=#{customerName},
			customer_class=#{customerClass},
			customer_call=#{customerCall},
			customer_email=#{customerEmail},
			zip_code=#{zipCode},
			customer_address=#{customerAddress},
			customer_address2=#{customerAddress2},
			update_staff_code =#{updateStaffCode},
			update_staff_name=#{updateStaffName},
			update_date=#{updateDate}
		WHERE 
			customer_id=#{customerId}
	
	</update>
	
	<!--개인 고객 삭제  -->
	<delete id="cDelete" parameterType="String">
		DELETE FROM customer WHERE customer_id=#{customerId};
	</delete>
		
		
	 <!--개인사업/ 법인 고객 리스트  -->
	 <select id="getCustomerCompanyList" parameterType="String" resultType="kr.or.ksmart.domain.CustomerCompany">
		SELECT
				 customer_id    AS customerId
				,customer_name 	AS customerName
				,customer_class	AS customerClass
				,customer_level	AS customerLevel
				,input_date	    AS inputDate

			FROM
				customer_company
		</select>

 
 </mapper>