<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.DocContractMapper">
	<resultMap type="CustomerModal" id="customerMap">
		<result property="customerId" column="customer_id"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCall" column="customer_call"/>
		<result property="customerEmail" column="customer_email"/>
		<result property="zipCode" column="zip_code"/>
		<result property="customerAddress" column="customer_address"/>
		<result property="customerAddress2" column="customer_address2"/>
		<result property="customerClass" column="customer_class"/>
		<result property="customerDiscount" column="customer_discount"/>
	</resultMap>
	
	<resultMap type="CompanyModal" id="companyMap">
		<result property="customerId" column="customer_id"/>
		<result property="customerCompanyName" column="customer_company_name"/>
		<result property="customerCompanyCall" column="customer_company_call"/>
		<result property="customerCompanyEmail" column="customer_company_email"/>
		<result property="customerCompanyzipCode" column="customer_company_zip_code"/>
		<result property="customerCompanyAddress" column="customer_company_address1"/>
		<result property="customerCompanyAddress2" column="customer_company_address2"/>
		<result property="customerClass" column="customer_class"/>
		<result property="customerDiscount" column="customer_discount"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCall" column="customer_call"/>
	</resultMap>
	
	<select id="maxCode" resultType="String" parameterType="String">
		SELECT max(SUBSTRING( contract_code FROM 10 ))
		FROM doc_contract
		WHERE contract_code LIKE '${codeDate}%'
	
	</select>
	<select id="customerModalList" resultMap="customerMap" parameterType="CustomerModal">
		SELECT C.*,G.customer_discount
		FROM customer AS C
		INNER JOIN
			grade AS G
		ON 
			C.customer_class=G.grade_name
		<if test="customerId neq null and customerId neq ''.toString">
			AND
				C.customer_id = #{customerId}
		</if>	
		<if test="customerName neq null and customerName neq ''.toString">
			AND
				C.customer_name = #{customerName}
		</if>
		<if test="customerCall neq null and customerCall neq ''.toString">
			AND
				C.customer_call = #{customerCall}
		</if>
		<if test="customerEmail neq null and customerEmail neq ''.toString">
			AND
				C.customer_email = #{customerEmail}
		</if>
	</select>	
	
	<select id="companyModalList" resultMap="companyMap" parameterType="CompanyModal">
		SELECT 
			CC.customer_id,CC.customer_company_name
			,C.customer_name,C.customer_call
			,CC.customer_company_call
			,CC.customer_company_zip_code,CC.customer_company_address1,CC.customer_company_address2
			,CC.customer_company_email,CC.input_staff_code
			,C.customer_class,G.customer_discount
		FROM
			customer_company AS CC
		INNER JOIN 
			customer AS C
		ON 
			CC.customer_id=C.customer_id
		
		<if test="customerId neq null and customerId neq ''.toString">
			AND
				CC.customer_id = #{customerId}
		</if>	
		<if test="customerCompanyName neq null and customerCompanyName neq ''.toString">
			AND
				CC.customer_company_name = #{customerCompanyName}
		</if>
		<if test="customerCompanyCall neq null and customerCompanyCall neq ''.toString">
			AND
				CC.customer_company_call = #{customerCompanyCall}
		</if>
		<if test="customerCompanyEmail neq null and customerCompanyEmail neq ''.toString">
			AND
				CC.customer_company_email = #{customerCompanyEmail}
		</if>
		
		LEFT JOIN 
			grade AS G
		ON 
			C.customer_class=G.grade_name
		
	</select>
	
	<insert id="contractInsertAjax" parameterType="DocContractInsert">
		INSERT INTO doc_contract
			(goods_code, set_code, rental_count
			, contract_no, contract_code
			, customer_id
			, rental_from_date, rental_to_date, rental_period
			, grade_name, contract_total_price
			, delivery_number, delivery_address
			, delivery_detail_address, delivery_tel
			, staff_code, input_staff_code, input_date)
			VALUES 
			
		<foreach item="goods" collection="goodsArray" separator=",">
			(
			#{goods.goodsCode}
			,#{goods.setCode}
			,#{goods.rentalCount},#{goods.index},#{contractCode}
			,#{customerId}
			,#{rentalFromDate},#{rentalToDate},#{rentalPeriod}
			,#{gradeName},#{contractTotalPrice}
			,#{deliveryNumber},#{deliveryAddress}
			,#{deliveryDetailAddress},#{deliveryTel}
			,#{staffCode},#{inputStaffCode}, NOW()
			)
		</foreach>
	</insert>
	
</mapper>