<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.MyCompanyDepositMapper">
	<resultMap type="MyCompanyDeposit" id="depositResultMap">
		<result property="mydepositAccount" column="mydeposit_account"/>
		<result property="mydepositBank" column="mydeposit_bank"/>
		<result property="mydepositAccountHolder" column="mydeposit_account_holder"/>
	</resultMap>
	<select id="getMyCompanyDeposit" resultMap="depositResultMap">
		SELECT
			*
		FROM
			mycompany_deposit
	</select>
</mapper>