<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.ReturnMapper">
	<resultMap type="Return" id="returnResultMap">
		<result property="contractCode" column="contract_code"/>
		<result property="contractNo" column="contract_no"/>
		<result property="customerId" column="customer_id"/>
		<result property="goodsCode" column="goods_code"/>
		<result property="setCode" column="set_code"/>
		<result property="rentalCount" column="rental_count"/>
		<result property="rentalFromDate" column="rental_from_date"/>
		<result property="rentalToDate" column="rental_to_date"/>
		<result property="rentalPeriod" column="rental_period"/>
		<result property="saleCode" column="sale_code"/>
		<result property="gradeName" column="grade_name"/>
		<result property="effectivenessDate" column="effectiveness_date"/>
		<result property="contractTotalPrice" column="contract_total_price"/>
		<result property="contractDate" column="contract_date"/>
		<result property="deliveryWay" column="delivery_way"/>
		<result property="deliveryNumber" column="delivery_number"/>
		<result property="deliveryAddress" column="delivery_address"/>
		<result property="deliveryDetailAddress" column="delivery_detail_address"/>
		<result property="deliveryTel" column="delivery_tel"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCompanyName" column="customer_company_name"/>
		<result property="goodsName" column="goods_name"/>
		<result property="setName" column="set_name"/>
		<result property="setGoodsCount" column="set_goods_count"/>
		<result property="setGoodsName" column="setGoodsName"/>
		<result property="customerCompanyPresident" column="customer_company_president"/>
		<result property="customerCompanyCall" column="customer_company_call"/>
		<result property="staffName" column="staff_name"/>
		<result property="inputStaffName" column="inputStaffName"/>
		<result property="count" column="count"/>
		<result property="total" column="total"/>
	</resultMap>
	<select id="getReturnList" resultMap="returnResultMap">
		SELECT 
			*
			,COUNT(1) AS count
			,SUM(DC.contract_total_price) AS total
		FROM
			doc_contract AS DC
		LEFT JOIN
			customer AS C
			ON
			DC.customer_id = C.customer_id
		LEFT JOIN
			customer_company AS CC
			ON
			C.customer_id = CC.customer_id
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		WHERE 
			DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
			AND
			DC.progress_status != '반납완료'
		GROUP BY
			DC.contract_code
		ORDER BY
			DC.rental_to_date DESC
	</select>
	<select id="getReturnListCnt" resultType="int">
		SELECT
			COUNT(SQ.CNT)
		FROM
		(
			SELECT 
				COUNT(1) AS CNT
			FROM
				doc_contract AS DC
			LEFT JOIN
				customer AS C
				ON
				DC.customer_id = C.customer_id
			LEFT JOIN
				customer_company AS CC
				ON
				C.customer_id = CC.customer_id
			LEFT JOIN
				goods AS G
				ON
				DC.goods_code = G.goods_code
			LEFT JOIN
				price_set AS PS
				ON
				PS.set_code = DC.set_code
			WHERE 
				DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
				AND
				DC.progress_status != '반납완료'
			GROUP BY
				DC.contract_code
		) AS SQ	
	</select>
	<select id="getReturnCompleteList" resultMap="returnResultMap">
		SELECT 
			*
			,COUNT(1) AS count
			,SUM(DC.contract_total_price) AS total
		FROM
			doc_contract AS DC
		LEFT JOIN
			customer AS C
			ON
			DC.customer_id = C.customer_id
		LEFT JOIN
			customer_company AS CC
			ON
			C.customer_id = CC.customer_id
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		WHERE 
			DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
			AND
			DC.progress_status = '반납완료'
		GROUP BY
			DC.contract_code
		ORDER BY
			DC.rental_to_date DESC
	</select>
	<select id="getReturnCompleteListCnt" resultType="int">
		SELECT
			COUNT(SQ.CNT)
		FROM
		(
			SELECT 
				COUNT(1) AS CNT
			FROM
				doc_contract AS DC
			LEFT JOIN
				customer AS C
				ON
				DC.customer_id = C.customer_id
			LEFT JOIN
				customer_company AS CC
				ON
				C.customer_id = CC.customer_id
			LEFT JOIN
				goods AS G
				ON
				DC.goods_code = G.goods_code
			LEFT JOIN
				price_set AS PS
				ON
				PS.set_code = DC.set_code
			WHERE 
				DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
				AND
				DC.progress_status = '반납완료'
			GROUP BY
				DC.contract_code
		) AS SQ	
	</select>
	<select id="getReturnSearchList" parameterType="ReturnSearchForm" resultMap="returnResultMap">
		SELECT 
			*
			,COUNT(1) AS count
			,SUM(DC.contract_total_price) AS total
		FROM
			doc_contract AS DC
		LEFT JOIN
			customer AS C
			ON
			DC.customer_id = C.customer_id
		LEFT JOIN
			customer_company AS CC
			ON
			C.customer_id = CC.customer_id
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		WHERE 
			DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
			AND
			DC.progress_status != '반납완료'
		<if test="customerName neq null and customerName neq ''.toString()">
			AND C.customer_name = #{customerName}
		</if>
		<if test="staffName neq null and staffName neq ''.toString()">
			AND S.staff_name = #{staffName} OR SS.staff_name = #{staffName}
		</if>
		<if test="deliveryTel neq null and deliveryTel neq ''.toString()">
			AND DC.dilivery.tel =#{deliveryTel}
		</if>
		<if test="setName neq null and setName neq ''.toString()">
			AND PS.set_name = #{setName}
		</if>
		<if test="goodsName neq null and goodsName neq ''.toString()">
			AND G.goods_name = #{goodsName}
		</if>
		<if test="rentalFromDate neq null and rentalFromDate neq ''.toString()">
			AND DC.rental_from_date &gt;= #{rentalFromDate}
		</if>
		<if test="rentalToDate neq null and rentalToDate neq ''.toString()">
			AND DC.rental_to_date &lt;= #{rentalToDate}
		</if>	
		GROUP BY
			DC.contract_code
		ORDER BY
			DC.rental_to_date DESC
	</select>
	<select id="getReturnSearchListCnt" parameterType="ReturnSearchForm" resultType="int">
		SELECT
			COUNT(SQ.CNT)
		FROM
		(
			SELECT 
				COUNT(1) AS CNT
			FROM
				doc_contract AS DC
			LEFT JOIN
				customer AS C
				ON
				DC.customer_id = C.customer_id
			LEFT JOIN
				customer_company AS CC
				ON
				C.customer_id = CC.customer_id
			LEFT JOIN
				goods AS G
				ON
				DC.goods_code = G.goods_code
			LEFT JOIN
				price_set AS PS
				ON
				PS.set_code = DC.set_code
			WHERE 
				DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
				AND
				DC.progress_status != '반납완료'
			<if test="customerName neq null and customerName neq ''.toString()">
				AND C.customer_name = #{customerName}
			</if>
			<if test="staffName neq null and staffName neq ''.toString()">
				AND S.staff_name = #{staffName} OR SS.staff_name = #{staffName}
			</if>
			<if test="deliveryTel neq null and deliveryTel neq ''.toString()">
				AND DC.dilivery.tel =#{deliveryTel}
			</if>
			<if test="setName neq null and setName neq ''.toString()">
				AND PS.set_name = #{setName}
			</if>
			<if test="goodsName neq null and goodsName neq ''.toString()">
				AND G.goods_name = #{goodsName}
			</if>
			<if test="rentalFromDate neq null and rentalFromDate neq ''.toString()">
				AND DC.rental_from_date &gt;= #{rentalFromDate}
			</if>
			<if test="rentalToDate neq null and rentalToDate neq ''.toString()">
				AND DC.rental_to_date &lt;= #{rentalToDate}
			</if>	
			GROUP BY
				DC.contract_code
		) AS SQ	
	</select>
	<select id="getReturnCompleteSearchList" parameterType="ReturnSearchForm" resultMap="returnResultMap">
		SELECT 
			*
			,COUNT(1) AS count
			,SUM(DC.contract_total_price) AS total
		FROM
			doc_contract AS DC
		LEFT JOIN
			customer AS C
			ON
			DC.customer_id = C.customer_id
		LEFT JOIN
			customer_company AS CC
			ON
			C.customer_id = CC.customer_id
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		WHERE 
			DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
			AND
			DC.progress_status = '반납완료'
			<if test="customerName neq null and customerName neq ''.toString()">
				AND C.customer_name = #{customerName}
			</if>
			<if test="staffName neq null and staffName neq ''.toString()">
				AND S.staff_name = #{staffName} OR SS.staff_name = #{staffName}
			</if>
			<if test="deliveryTel neq null and deliveryTel neq ''.toString()">
				AND DC.dilivery.tel =#{deliveryTel}
			</if>
			<if test="setName neq null and setName neq ''.toString()">
				AND PS.set_name = #{setName}
			</if>
			<if test="goodsName neq null and goodsName neq ''.toString()">
				AND G.goods_name = #{goodsName}
			</if>
			<if test="rentalFromDate neq null and rentalFromDate neq ''.toString()">
				AND DC.rental_from_date &gt;= #{rentalFromDate}
			</if>
			<if test="rentalToDate neq null and rentalToDate neq ''.toString()">
				AND DC.rental_to_date &lt;= #{rentalToDate}
			</if>
		GROUP BY
			DC.contract_code
		ORDER BY
			DC.rental_to_date DESC
	</select>
	<select id="getReturnCompleteSearchListCnt" parameterType="ReturnSearchForm" resultType="int">
		SELECT
			COUNT(SQ.CNT)
		FROM
		(
			SELECT 
				COUNT(1) AS CNT
			FROM
				doc_contract AS DC
			LEFT JOIN
				customer AS C
				ON
				DC.customer_id = C.customer_id
			LEFT JOIN
				customer_company AS CC
				ON
				C.customer_id = CC.customer_id
			LEFT JOIN
				goods AS G
				ON
				DC.goods_code = G.goods_code
			LEFT JOIN
				price_set AS PS
				ON
				PS.set_code = DC.set_code
			WHERE 
				DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
				AND
				DC.progress_status = '반납완료'
			<if test="customerName neq null and customerName neq ''.toString()">
				AND C.customer_name = #{customerName}
			</if>
			<if test="staffName neq null and staffName neq ''.toString()">
				AND S.staff_name = #{staffName} OR SS.staff_name = #{staffName}
			</if>
			<if test="deliveryTel neq null and deliveryTel neq ''.toString()">
				AND DC.dilivery.tel =#{deliveryTel}
			</if>
			<if test="setName neq null and setName neq ''.toString()">
				AND PS.set_name = #{setName}
			</if>
			<if test="goodsName neq null and goodsName neq ''.toString()">
				AND G.goods_name = #{goodsName}
			</if>
			<if test="rentalFromDate neq null and rentalFromDate neq ''.toString()">
				AND DC.rental_from_date &gt;= #{rentalFromDate}
			</if>
			<if test="rentalToDate neq null and rentalToDate neq ''.toString()">
				AND DC.rental_to_date &lt;= #{rentalToDate}
			</if>
			GROUP BY
				DC.contract_code
		) AS SQ	
	</select>	
<!--  -->
	<select id="ajaxReturnList" resultMap="returnResultMap">
		SELECT 
			*
			,GFSG.goods_name AS setGoodsName
		FROM
			doc_contract AS DC
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		LEFT JOIN
			set_goods AS SG
			ON
			SG.set_code = DC.set_code
		LEFT JOIN
			goods AS GFSG
			ON
			SG.goods_code = GFSG.goods_code
		WHERE 
			DC.contract_code = #{contractCode}
	</select>
	<update id="returnedUpdate" parameterType="String">
		UPDATE 
			doc_contract 
		SET 
			progress_status='반납완료' 
		WHERE 
			contract_code=#{rContractCode}
	</update>
</mapper>