<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.mapper.ReturnMapper">
	<resultMap type="DocContractForm" id="returnResultMap">
		<result property="contractCode" column="contract_code"/>
		<result property="contractNo" column="contract_no"/>
		<result property="customerId" column="customer_id"/>
		<result property="goodsCode" column="goods_code"/>
		<result property="setCode" column="set_code"/>
		<result property="rentalCount" column="rental_count"/>
		<result property="rentalFromDate" column="rental_from_date"/>
		<result property="rentalToDate" column="rental_to_date"/>
		<result property="rentalPeriod" column="rental_period"/>
		<result property="saleCode" column="sale_code"/>
		<result property="gradeName" column="grade_name"/>
		<result property="effectivenessDate" column="effectiveness_date"/>
		<result property="contractTotalPrice" column="contract_total_price"/>
		<result property="contractDate" column="contract_date"/>
		<result property="deliveryWay" column="delivery_way"/>
		<result property="deliveryNumber" column="delivery_number"/>
		<result property="deliveryAddress" column="delivery_address"/>
		<result property="deliveryDetailAddress" column="delivery_detail_address"/>
		<result property="deliveryTel" column="delivery_tel"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCompanyName" column="customer_company_name"/>
		<result property="goodsName" column="goods_name"/>
		<result property="setName" column="set_name"/>
		<result property="setGoodsCount" column="set_goods_count"/>
		<result property="setGoodsName" column="setGoodsName"/>
		<result property="customerCompanyPresident" column="customer_company_president"/>
		<result property="customerCompanyCall" column="customer_company_call"/>
		<result property="staffName" column="staff_name"/>
		<result property="inputStaffName" column="inputStaffName"/>
	</resultMap>
	<select id="getReturnList" resultMap="returnResultMap">
		SELECT 
			*
			, GFSG.goods_name as setGoodsName
		FROM
			doc_contract AS DC
		LEFT JOIN
			goods AS G
			ON
			DC.goods_code = G.goods_code
		LEFT JOIN
			price_set AS PS
			ON
			PS.set_code = DC.set_code
		LEFT JOIN
			set_goods AS SG
			ON
			DC.set_code = SG.set_code
		LEFT JOIN
			goods AS GFSG
			ON
			SG.goods_code = GFSG.goods_code
		WHERE 
			DC.rental_to_date&lt;DATE(CONCAT(YEAR(NOW()),'-',MONTH(NOW())+2,'-',1))
			AND
			DC.progress_status != '반납완료'
		ORDER BY
			DC.rental_to_date DESC
	</select>
</mapper>