<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index</title>
<link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.css">
</th:block>


<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">

  <div class="content-wrapper">  
 	<div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">출근 현황</h3>
              </div>
              <div class="card-header border-transparent">
                <h5 class="card-title" th:text=${staffName}></h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table id="boardTable" class="table m-0">
                    <thead>
                    <tr>
                      <th>일자</th>
                      <th>출근시간</th>
                      <th>퇴근시간</th>
                      <th>지각</th>
                      <th>조퇴</th>
                      <th>휴가</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="l : ${cList}">
                      <td th:text="${l.commuteDate}"></td>
                      <td th:text="${l.commuteArrive}"></a></td>
                      <td th:text="${l.commuteLeave}"></td>
                      <td th:text="${l.commuteLateness}"></td>
                      <td th:text="${l.commuteEarlyleave}"></td>
                      <td th:text="${l.commuteHoliday}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- 페이징 -->
	             <nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li class="page-item">
					    <th:block th:if="${currentPage>1}">
					      <a class="page-link" th:href="@{staff/boardList(page=${currentPage-1})}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
						</th:block>
						<th:block th:unless="${currentPage>1}">
					      <a class="page-link" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
						</th:block>
				    </li>
					<th:block th:each="num : ${#numbers.sequence(startPage, endPage)}">
				    	<li class="page-item"><a class="page-link" th:text="${num}" th:href="@{staff/boardList(page=${num})}"></a></li>
					</th:block>
				    <li class="page-item">
				    	<th:block th:if="${endPage>currentPage}">
					      <a class="page-link" th:href="@{staff/boardList(page=${currentPage+1})}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </th:block>
					    <th:block th:unless="${endPage>currentPage}">
					      <a class="page-link" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </th:block>
				    </li>
				  </ul>
				</nav>
                <!-- 페이징 끝 -->
                <!-- /.table-responsive -->
              </div>
            </div>
  </div>
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>


</script>
</th:block>
</body>
</html>

