<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">

  <!-- fullCalendar -->
  <link rel="stylesheet" href="../plugins/fullcalendar/main.min.css">
  <link rel="stylesheet" href="../plugins/fullcalendar-daygrid/main.min.css">
  <link rel="stylesheet" href="../plugins/fullcalendar-timegrid/main.min.css">
  <link rel="stylesheet" href="../plugins/fullcalendar-bootstrap/main.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>휴가 등록</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Calendar</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
	
        
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <!-- 테이블 시작 -->
       <div class="card" style="width: 75%;">
          <div class="card-body p-0">
             <div class="card-body table-responsive p-0">
               <table id="boardTable" class="table table-hover">
                 <thead>
	                 <tr>
	                   <th>시작일</th>
	                   <th>종료일</th>
	                   <th>휴가</th>
	                 </tr>
                 </thead>
                 <tbody>
					<tr th:each="l : ${hNowList}">
						<td th:text="${l.holidayFromDate}">
						<td th:text="${l.holidayToDate}">
						<td th:text="${l.holidaySort}">
						<td>
							<a class="btn btn-danger btn-sm" th:href="@{/staff/holidayDelete(hCode=${l.holidayCode})}">
	                            <!-- <i class="Trash"  aria-hidden="true"></i> -->
	                             Delete
	                        </a> 
						</td>
					</tr>
                 </tbody>
               </table>
             </div>
           </div>
		</div>
              <!-- 테이블 끝 -->
        <div class="row">
          <div class="col-md-3" style="display: none">
            <div class="sticky-top mb-3">
              <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <!-- the events -->
                  <div id="external-events">
                    <div class="external-event bg-success">연차</div>
                    <div class="external-event bg-warning">병가</div>
                    <div class="external-event bg-info">반차</div>
                    <div class="checkbox">
                      <label for="drop-remove">
                        <input type="checkbox" id="drop-remove">
                        remove after drop
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="btn btn-block btn-secondary btn-lg">휴가 등록</div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
                <button style='display: none;' type="button" class="btn btn-default" id='modalBtn'
                		data-toggle="modal" data-target="#modal-default">
                  Launch Default Modal
                </button>
        <!-- 모달 -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">휴가 등록</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form th:action=@{/staff/holidayRegist} th:method="post">
	            <div style="padding:30px;">
				  <div style="width:47%; display:inline-block;" class="form-group">
				    <input type="date" class="form-control" id="hFromDate" name="holidayFromDate">
				  </div>
				  &emsp;
				  <div style="width:47%; display:inline-block;" class="form-group">
				    <input type="date" class="form-control" id="hToDate" name="holidayToDate">
				  </div>
				  <select id="hSelect" class="form-control" name="holidaySort">
					  <option>연차</option>
					  <option>반차</option>
					  <option>병가</option>
					</select>
			    </div>
	            <div class="modal-footer justify-content-between">
	              <button type="submit" class="btn btn-primary">등록</button>
	              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	            </div>
	         </form>
          </div>
          <!-- /.modal-content -->
        </div>
      </div>
       <!-- 모달 끝 -->
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- fullCalendar 2.2.5 -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/fullcalendar/main.min.js"></script>
<script src="../plugins/fullcalendar-daygrid/main.min.js"></script>
<script src="../plugins/fullcalendar-timegrid/main.min.js"></script>
<script src="../plugins/fullcalendar-interaction/main.min.js"></script>
<script src="../plugins/fullcalendar-bootstrap/main.min.js"></script>
<!-- Page specific script -->
<script th:inline="javascript">
  $(function () {
    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        console.log(eventEl);
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });


	/*<![CDATA[*/
 		var hList = /*[[${hList}]]*/
 	/*]]>*/
 	console.log(hList);
	var fromYear = [], fromMonth = [], fromDay = [];
	var toYear = [], toMonth =[], toDay=[];
	var hListSort = [];
	for(var i=0; i<hList.length; i++){
		hListSort.push(hList[i].holidaySort);
		
		var tempDate = new Date(hList[i].holidayFromDate);
		fromYear.push(tempDate.getFullYear());
		fromMonth.push(tempDate.getMonth());
		fromDay.push(tempDate.getDate());
		
		tempDate = new Date(hList[i].holidayToDate);
		toYear.push(tempDate.getFullYear());
		toMonth.push(tempDate.getMonth());
		toDay.push(tempDate.getDate());
	}
	var events = [];
	for(var i=0; i<hListSort.length; i++){
		var backgroundColor;
		if(hListSort[i] =="연차"){
			backgroundColor = '#28a745';
		}else if(hListSort[i] =="병가"){
			backgroundColor = '#ffc107';
		}else if(hListSort[i] =="반차"){
			backgroundColor = '#17a2b8';	
		}
		events.push(
			{
		          title          : hListSort[i],
		          start          : new Date(fromYear[i], fromMonth[i], fromDay[i]),
		          end			 : new Date(toYear[i], toMonth[i], toDay[i]+1),
		          backgroundColor: backgroundColor, //red
		          borderColor    : backgroundColor, //red
		          allDay         : true
		    }
		);
	} 
      var calendar = new Calendar(calendarEl, {
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'prev,next'/* 'dayGridMonth,timeGridWeek,timeGridDay' */
      },
      //Random default events
      events    : events,
      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function(info) {
        // is the "remove after drop" checkbox checked?
        if (checkbox.checked) {
          // if so, remove the element from the "Draggable Events" list
          info.draggedEl.parentNode.removeChild(info.draggedEl);
        }
      }    
    });	
      

    calendar.render();
    // $('#calendar').fullCalendar()

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({
        'background-color': currColor,
        'border-color'    : currColor
      })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }
     
    /*   //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      ini_events(event)

      //Remove event from text input
      $('#new-event').val('') */
    })
    
    /* 달력 클릭 모달 출력 */
    calendarModal()
    
	$('.fc-today-button,.fc-button-group').click(function(){
		 calendarModal()
	})
	
	/* 달력 클릭시 휴가 등록 모달 팝업*/
	function calendarModal(){
    	$('.fc-day,.fc-day-top').click(function(){
        	$('#modalBtn').trigger('click');
        	var sltDate = $(this).data().date;
        	$('#hFromDate').val(sltDate);
        	$('#hToDate').val(sltDate);
    	})
    }
  })
</script>
</th:block>
</body>
</html>


