<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}"
>
<th:block layout:fragment="customTitle">
	<title>cInsert.html</title>
</th:block>



<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">

  <!--고객 세부 사항 시작  -->
 
<form th:action="@{/cInsert2}" method="post">  
  <section class="content-header"> 
	 <div class="content-wrapper" id="customerCompanyInsert" style="display: none"> 
	  	<div class="container-fluid">   
	        <div class="card card-info">
	          <div class="card-header">
	            <h3 class="card-title">회사 정보 등록</h3>
			        <div class="card-tools">
					    <div style="display: inline-block;">
					    	<button type="button" id="contractHidden" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
					    </div>
					    <div style="display: inline-block;">
					    	<button type="button" class="btn btn-tool" data-card-widget="remove"></button>
					    </div>
		   			</div>
	          </div>
	          <!-- /.card-header -->
	          <div class="card-body">
	            <!-- left -->             				            
		            <div class="card-body">
		              <div class="form-group">
		                <label for="inputName">고객 아이디</label>
		                <input type="text" name="customerId" class="form-control"  placeholder="위의 아이디와 동일하게 입력해주세요.">
		              </div>	
		              <div class="form-group">
		                <label for="inputName">회사명</label>
		                <input type="text" name="customerCompanyName" id="inputEstimatedBudget" class="form-control">
		              </div>
		              <div class="form-group">
		                <label for="inputName">회사 대표자명</label>
		                <input type="text" name="customerCompanyPresident" id="inputEstimatedBudget" class="form-control">
		              </div>
		              <div class="form-group">
		                <label for="inputName">회사 전화번호</label>
		                <input type="text" name="customerCompanyCall" id="inputEstimatedBudget" class="form-control">
		              </div>
		              
		               <label>우편번호</label>
	                  <div class="input-group mb-3">
	                  <input type="text" id="sample5_postcode" name="customerCompanyZipCode">
	                  <div class="input-group-append">
	                   <span class="input-group-append">
		                    <button type="button" onclick="sample5_execDaumPostcode()" class="btn btn-info btn-flat">찾기</button>
		                  </span>
	                  </div>
	                </div>
                

                  
                  <label for="inputPassword3" class="col-sm-2 col-form-label">기본주소</label>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="sample5_roadAddress" name="customerCompanyAddress1" class="form-control">
                    </div>
                  </div>
                  
                   <input type="hidden" id="sample5_jibunAddress" class="form-control">
                   <span id="guide" style="color:#999;display:none"></span>
					
                   
                   <label for="inputPassword3" class="col-sm-2 col-form-label">상세주소</label>
                   <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" id="sample5_detailAddress" name="customerCompanyAddress2" class="form-control">
                    </div>
                  </div>
                                   
                 <div class="form-group">	
					<input type="hidden" id="sample5_extraAddress" class="form-control">
			  	</div>	
				<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
					<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
				</div>
				
			   <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			   <script>
			       //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
			       function sample5_execDaumPostcode() {
			           new daum.Postcode({
			               oncomplete: function(data) {
			                   // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			                   // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
			                   // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			                   var roadAddr = data.roadAddress; // 도로명 주소 변수
			                   var extraRoadAddr = ''; // 참고 항목 변수

			                   // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			                   // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			                   if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                       extraRoadAddr += data.bname;
			                   }
			                   // 건물명이 있고, 공동주택일 경우 추가한다.
			                   if(data.buildingName !== '' && data.apartment === 'Y'){
			                      extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			                   }
			                   // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
			                   if(extraRoadAddr !== ''){
			                       extraRoadAddr = ' (' + extraRoadAddr + ')';
			                   }

			                   // 우편번호와 주소 정보를 해당 필드에 넣는다.
			                   document.getElementById('sample5_postcode').value = data.zonecode;
			                   document.getElementById("sample5_roadAddress").value = roadAddr;
			                   document.getElementById("sample5_jibunAddress").value = data.jibunAddress;
			                   
			                   // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
			                   if(roadAddr !== ''){
			                       document.getElementById("sample5_extraAddress").value = extraRoadAddr;
			                   } else {
			                       document.getElementById("sample5_extraAddress").value = '';
			                   }

			                   var guideTextBox = document.getElementById("guide");
			                   // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
			                   if(data.autoRoadAddress) {
			                       var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
			                       guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
			                       guideTextBox.style.display = 'block';

			                   } else if(data.autoJibunAddress) {
			                       var expJibunAddr = data.autoJibunAddress;
			                       guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
			                       guideTextBox.style.display = 'block';
			                   } else {
			                       guideTextBox.innerHTML = '';
			                       guideTextBox.style.display = 'none';
			                   }
			               }
			           }).open();
			       }
			   </script>
				                  			
						        	
		               <div class="form-group">
		                <label for="inputName">메일계정</label>
		                <input type="text" name="customerCompanyEmail" id="inputEstimatedBudget" class="form-control">
		              </div>
		               <div class="form-group">
		                <label for="inputName">홈페이지</label>
		                <input type="text" name="customerCompanyHomepage" id="inputEstimatedBudget" class="form-control">
		              </div>		             
	                
		            <!-- /.card-body -->
		          </div>
		          
		           <div style="display: block">
		                  <button id="submit2"  class="btn btn-info">등록</button>
		                  <a th:href="@{/index}" class="btn btn-default float-right">취소</a>                  
	               </div>  		            
		            
		            
		        </div>  
		          
		          <!-- /.card -->
		        </div>
	          		
	          	  
	            </div>      	            
	            <!-- /.row -->
	          </div>
	          <!-- /.card-body -->
	  </section>
</form>  

	  
	  
	  
	  
<script>	
		/*개인고객 유효성 검사 시작  */
		
		$('#submit').click(function(){
			
			var customerId = $('input[name=customerId]').val();
			var customerPw = $('input[name=customerPw]').val();		
			var customerClass = $('input[name=customerClass]').val();
			var customerName = $('input[name=customerName]').val();
			var customerCall = $('input[name=customerCall]').val();
			var customerEmail = $('input[name=customerEmail]').val();
			var zipCode = $('input[name=zipCode]').val();
			var customerAddress = $('input[name=customerAddress]').val();
			var customerAddress2 = $('input[name=customerAddress2]').val();
			var formObj = $("form[role='form']"); 		
			
			if(customerId == ''){
				alert('고객 아이디를 입력해주세요.');
				return false; 			
			 }else if(customerPw == ''){
				alert('고객 비밀번호를 입력해주세요.');
				return false;
			}else if($(':radio[name=customerLevel]:checked').length < 1){
				alert('고객 권한을 체크해주세요.');
				return false;
			}else if(customerClass == ''){
				alert('고객 등급을 선택해주세요.');
				return false;
			}else if(customerName == ''){
				alert('고객명을 입력해주세요.');
				return false;
			}else if(customerCall == ''){
				alert('고객 연락처를 입력해주세요.');
				return false;
			}else if(customerEmail == ''){
				alert('고객 이메일 입력해주세요.');
				return false;
			}else if(zipCode == ''){
				alert('우편번호를 입력해주세요.');
				return false;
			}else if(customerAddress == ''){
				alert('기본주소를 입력해주세요.');
				return false;
			}else if(customerAddress2 == ''){
				alert('상세주소를 입력해주세요.');
				return false;
			}
			
		     formObj.attr("action","/cInsert");    
		     formObj.attr("method", "post");            
		     formObj.submit();
			
			alert("등록 성공.");
		  
			
			
		})
		
		
		
		/*개인고객 유효성 검사 끝  */
		/*개인사업,법인고객  유효성 검사 시작  */
			
			$('#submit2').click(function(){
							
				var customerCompanyName = $('input[name=customerCompanyName]').val();		
				var customerCompanyPresident = $('input[name=customerCompanyPresident]').val();
				var customerCompanyCall = $('input[name=customerCompanyCall]').val();
				var customerCompanyZipCode = $('input[name=customerCompanyZipCode]').val();
				var customerCompanyAddress1 = $('input[name=customerCompanyAddress1]').val();
				var customerCompanyAddress2 = $('input[name=customerCompanyAddress2]').val();
				var customerCompanyEmail = $('input[name=customerCompanyEmail]').val();
				var customerCompanyHomepage = $('input[name=customerCompanyHomepage]').val();
				var formObj = $("form[role='form']"); 		
				
                if(customerCompanyName == ''){
					alert('회사명을 입력해주세요.');
					return false;
				}else if(customerCompanyPresident == ''){
					alert('대표명을 입력해주세요.');
					return false;
				}else if(customerCompanyCall == ''){
					alert('회사 전화번호를 입력해주세요.');
					return false;
				}else if(customerCompanyZipCode == ''){
					alert('우편번호를 입력해주세요.');
					return false;
				}else if(customerCompanyAddress1 == ''){
					alert('기본주소를 입력해주세요.');
					return false;
				}else if(customerCompanyAddress2 == ''){
					alert('상세주소를 입력해주세요.');
					return false;
				}else if(customerCompanyEmail == ''){
					alert('회사 이메일을 입력해주세요.');
					return false;
				}else if(customerAddress2 == ''){
					alert('상세주소를 입력해주세요.');
					return false;
				}else if(customerCompanyHomepage == ''){
					alert('회사 홈페이지를 입력해주세요.');
					return false;
				}
				
			     formObj.attr("action","/cInsert2");    
			     formObj.attr("method", "post");            
			     formObj.submit();
				
				alert("등록 성공.");
		      
				
				
			})
			
			
			
			/*개인사업,법인고객 유효성 검사 끝  */



		$('#customRadio1').click(function(){
			
			$('#customerCompanyInsert').css('display','none');
			
			
			$('#name1').text('고객명');
			$('#name2').text('고객 연락처');
			$('#name3').text('고객 이메일');
			$('#name4').text('우편번호');
			$('#name5').text('기본주소');
			$('#name6').text('상세주소');
			

			
			
			
		});
		
		
		$('#customRadio2').click(function(){
			$('#customerCompanyInsert').css('display','block');
			$('#name1').text('담당자명');
			$('#name2').text('담당자 연락처');
			$('#name3').text('담당자 이메일');
			$('#name4').text('담당자 우편번호');
			$('#name5').text('담당자 기본주소');
			$('#name6').text('담당자 상세주소');
			
			

			
			
		});
		
		$('#customRadio3').click(function(){
			$('#customerCompanyInsert').css('display','block');
			
			$('#name1').text('담당자명');
			$('#name2').text('담당자 연락처');
			$('#name3').text('담당자 이메일');
			$('#name4').text('담당자 우편번호');
			$('#name5').text('담당자 기본주소');
			$('#name6').text('담당자 상세주소');
			
			
		});
				
		
		

	
</script>  
  
</th:block>
</body>
</html>