<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
  <div class="content-wrapper">        
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Boxed Layout</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Boxed Layout</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" th:text="${b.boardTitle}"></h3>


              </div>
              <div class="card-body" th:text="${b.boardContent}">
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div th:text="${b.staffName}"></div>
              	<div th:text="${b.boardWrtDate}"></div>
              	<div th:text="${b.boardModiDate}"></div>
              </div>
              
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
</th:block>
</body>
</html>

