<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<body class="hold-transition sidebar-mini layout-fixed">
<th:block layout:fragment="customContents">
	<div class="content-wrapper">
	<!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Latest Orders</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table id="boardTable" class="table m-0">
                    <thead>
                    <tr>
                      <th>번호</th>
                      <th>작성글</th>
                      <th>작성자</th>
                      <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="l : ${bList}">
                      <td th:text="${l.boardNo}"></td>
                      <td><a th:href="@{/board(no=${l.boardNo})}" th:text="${l.boardTitle}"></a></td>
                      <td th:text="${l.staffName}"></td>
                      <td th:text="${l.boardWrtDate}"></td>
                    </tr>
                    </tbody>
                  </table>
                 <!-- 페이징 -->
	             <nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li class="page-item">
					    <th:block th:if="${currentPage>1}">
					      <a class="page-link" th:href="@{boardList(page=${currentPage-1})}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
						</th:block>
						<th:block th:unless="${currentPage>1}">
					      <a class="page-link" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
						</th:block>
				    </li>
					<th:block th:each="num : ${#numbers.sequence(startPage, endPage)}">
				    	<li class="page-item"><a class="page-link" th:text="${num}" th:href="@{boardList(page=${num})}"></a></li>
					</th:block>
				    <li class="page-item">
				    	<th:block th:if="${endPage>currentPage}">
					      <a class="page-link" th:href="@{boardList(page=${currentPage+1})}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </th:block>
					    <th:block th:unless="${endPage>currentPage}">
					      <a class="page-link" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </th:block>
				    </li>
				  </ul>
				</nav>
                <!-- 페이징 끝 -->
                </div>
                <!-- /.table-responsive -->
              <a th:href="@{/writeBoard}" type="button" class="btn btn-block btn-primary">글쓰기</a>
              </div>
            </div>
            <!-- /.card -->
     </div>
</th:block>

</body>
</html>

