<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div>         
		<input type="text" id="sample6_postcode"  style="display:inline-block;width:150px" class="form-control" placeholder="우편번호">
		<input type="button" class="btn btn-sm btn-primary" style="display:inline-block;" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br><br>
		<input type="text" id="sample6_address" style="margin-bottom:20px" placeholder="주소" class="form-control">
		<input type="text" id="sample6_detailAddress" placeholder="상세주소" class="form-control">
	</div>    