<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <form id="companySerch">
	 <div class="row" style="margin-bottom:20px">	
	   <div class="col-sm-2" style="margin-right:10px">
		   <label style="width:50px; margin-bottom:20px">아이디</label>
		   <div style="display:inline-block;">
		     <input name="customerId" type="text" class="form-control select2bs4">
		   </div>
		</div>
		<div class="col-sm-2" style="margin-right:10px">
		   <label class="name" style="width:50px; margin-bottom:20px">회사명</label>
		   <div style="display:inline-block;">
		  	 <input name="customerCompanyName" type="text" class="form-control select2bs4">
		   </div>
	   </div>
	   <div class="col-sm-2 invoice-col">
		   <label class="tel" style="width:100px; margin-bottom:20px">대표 전화</label>
		   <div style="display:inline-block;">
		   	<input type="text" class="form-control select2bs4" name="customerCompanyCall">
		   </div>
		</div>
		<div class="col-sm-5 invoice-col">
		   <label class="email" style="width:100px; margin-bottom:20px">이메일</label><br>
		   <div style="display:inline-block;">
		   	<input type="text" class="form-control select2bs4" name="customerCompanyEmail">
		   </div>
		   <div style="display:inline-block;">
		   	  <a id="companySerchBtn" class="btn btn-primary btn-sm" href="#">
			      검색
		      </a> 
		   </div>
	   </div>
	</div>
</form>
      
	<table id="example2" class="companyModalTable table table-bordered table-hover">
   		<thead>
        	<tr>
                <th>아이디</th>
                <th>회사명</th>
                <th>대표번호</th>
                <th>이메일</th>
                <th>담당자명</th>
                <th>담당자 연락처</th>
                <th></th>
        	</tr>
        </thead>
        <tbody>
         <tr th:each="CO:${companyList}">
			<!-- 표시 -->
           <td id="customerIdM" th:text="${CO.customerId}"></td>
           <td id="customerNameM" th:text="${CO.customerCompanyName}"></td>
           <td id="customerCallM" th:text="${CO.customerCompanyCall}"></td>
           <td id="customerEmailM" th:text="${CO.customerCompanyEmail}"></td>
           <td th:text="${CO.customerName}"></td>
           <td th:text="${CO.customerCall}"></td>
           	<!-- hidden -->
           <td id="zipCodeM" th:text="${CO.customerCompanyzipCode}" style="display:none;"></td>
           <td id="customerAddressM" th:text="${CO.customerCompanyAddress}" style="display:none;"></td>
           <td id="customerAddress2M" th:text="${CO.customerCompanyAddress2}" style="display:none;"></td>
           <td id="customerClassM" th:text="${CO.customerClass}" style="display:none;"></td>
           <td id="customerDiscountM" th:text="${CO.customerDiscount}" style="display:none;"></td>
           <td><button id="companyChoice" class="customerChoice btn btn-info" type="button">선택</button></td>
         </tr>
        </tbody>
	</table>
