<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      
<div class="custom-control custom-radio" style="display:inline-block">
  <input class="custom-control-input customerModal levelModal" type="radio" id="customRadio1" name="customRadio">
  <label for="customRadio1" class="custom-control-label">개인</label>
</div>
<div class="custom-control custom-radio" style="display:inline-block">
  <input class="custom-control-input companyModal levelModal" type="radio" id="customRadio2" name="customRadio">
  <label for="customRadio2" class="custom-control-label">법인</label>
</div>
