<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <form id="customerSerch">
 <div class="row" style="margin-bottom:20px">
   <div class="col-sm-3">
     <div style="padding:15px 0 15px 0">
	     <div class="icheck-primary d-inline" style="display:inline-block;">
	       <input class="person" type="radio" name="r1" id="radioPrimary1" checked value="a">
	       <label for="radioPrimary1">
	       	개인
	       </label>
	     </div>
	     <div class="icheck-primary d-inline" style="display:inline-block;">
	       <input class="company" type="radio" name="r1" id="radioPrimary2">
	       <label for="radioPrimary2">
	       	법인
	       </label>
	     </div>
	 </div>    
     <div class="staffDiv" style="display:none;">
		<label>담당자</label>
		<div style="display:inline-block;">
			<input type="text" class="form-control select2bs4" name="staff">
		</div>
	 </div>
   </div>
   <div class="col-sm-3">
	   <div>
		   <label style="width:60px; margin-bottom:20px">아이디</label>
		   <div style="display:inline-block;">
		     <input name="customerId" type="text" class="form-control select2bs4">
		   </div>
	   </div>
	   <label class="name" style="width:60px; margin-bottom:20px">이름</label>
	   <div style="display:inline-block;">
	  	 <input name="customerName" type="text" class="form-control select2bs4">
	   </div>
   </div>
   <div class="col-sm-4 invoice-col" style="margin-left:40px">
	   <label class="tel" style="width:100px; margin-bottom:20px">전화번호</label>
	   <div style="display:inline-block;">
	   	<input type="text" class="form-control select2bs4" name="customerCall">
	   </div><br>
	   <label class="email" style="width:100px; margin-bottom:20px">이메일</label>
	   <div style="display:inline-block;">
	   	<input type="text" class="form-control select2bs4" name="customerEmail">
	   </div>
   </div>
   <div class="col-sm-1 invoice-col">
      <a id="customerSerchBtn" class="btn btn-primary btn-sm" href="#" style="margin:0 0 15px 0;position: absolute;bottom: 0;">
	      <i class="fas fa-folder">
	      </i>&ensp;검색
      </a> 
   </div>
</div>

</form>
      
	<table id="example2" class="modalTable table table-bordered table-hover">
   		<thead>
        	<tr>
                <th>아이디</th>
                <th class="name">이름</th>
                <th class="tel">전화번호</th>
                <th>이메일</th>
                <th></th>
        	</tr>
        </thead>
        <tbody>
         <tr>
           <td id="customerId">customerId</td>
           <td id="customerName">customerName</td>
           <td id="zipCode" style="display:none;">customerCompanyZipCode</td>
           <td id="customerAddress" style="display:none;">customerAddress</td>
           <td id="customerAddress2" style="display:none;">customerAddress2</td>
           <td id="customerCall">customerCall</td>
           <td id="customerEmail">customerEmai</td>
           <td id="customerClass" style="display:none;"></td>
           <td><button id="customerChoice" class="btn btn-info" type="button">선택</button></td>
         </tr>
         <tr>
           <td id="customerId">customerId</td>
           <td id="customerCompanyName">customerCompanyName</td>
           <td id="customerCompanyZipCode" style="display:none;">customerCompanyZipCode</td>
           <td id="customerCompanyAddress1" style="display:none;">customerCompanyAddress1</td>
           <td id="customerCompanyAddress2" style="display:none;">customerCompanyAddress2</td>
           <td id="customerCompanyCall">customerCompanyCall</td>
           <td id="customerCompanyEmail">customerCompanyEmail</td>
           <td id="customerClass" style="display:none;"></td>
           <td><button id="companyChoice" class="btn btn-info" type="button">선택</button></td>
         </tr>
         <tr th:each="CU:${customerList}">
           <td id="customerId" th:text="${CU.customerId}"></td>
           <td id="customerName" th:text="${CU.customerName}"></td>
           <td id="zipCode" th:text="${CU.zipCode}" style="display:none;"></td>
           <td id="customerAddress" th:text="${CU.customerAddress}" style="display:none;"></td>
           <td id="customerAddress2" th:text="${CU.customerAddress2}" style="display:none;"></td>
           <td id="customerCall" th:text="${CU.customerCall}"></td>
           <td id="customerEmail" th:text="${CU.customerEmail}"></td>
           <td id="customerClass" th:text="${CU.customerClass}" style="display:none;"></td>
           <td><button id="customerChoice" class="btn btn-info" type="button">선택</button></td>
         </tr>
         <tr th:each="CO:${customerList}">
           <td id="customerId" th:text="${CU.customerId}"></td>
           <td id="customerCompanyName" th:text="${CU.customerCompanyName}"></td>
           <td id="customerCompanyZipCode" th:text="${CU.customerCompanyZipCode}" style="display:none;"></td>
           <td id="customerCompanyAddress1" th:text="${CU.customerCompanyAddress1}" style="display:none;"></td>
           <td id="customerCompanyAddress2" th:text="${CU.customerCompanyAddress2}" style="display:none;"></td>
           <td id="customerCompanyCall" th:text="${CU.customerCompanyCall}"></td>
           <td id="customerCompanyEmail" th:text="${CU.customerCompanyEmail}"></td>
           <td id="customerClass" th:text="${CU.customerClass}" style="display:none;"></td>
           <td><button id="companyChoice" class="btn btn-info" type="button">선택</button></td>
         </tr>
        </tbody>
	</table>
