<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <form id="customerSerch">
 <div class="row" style="margin-bottom:20px">
	<div class="col-sm-2">
		<label class="tel">분류</label>
		<div style="display:inline-block;">
			<select class="form-control select2bs4" name="customerCall">
				<option selected="selected"></option>
				<option>12345</option>
			</select>
		</div>	
	</div>
	<div class="col-sm-3">
		<label class="tel">상품명</label>
		<div style="display:inline-block;">
			<input type="text" class="form-control select2bs4" name="customerCall">
		</div>	
	</div>
	<div class="col-sm-4">
		<label class="tel">상세</label>
		<div style="display:inline-block;">
			<input type="text" class="form-control select2bs4" name="customerCall">
		</div>	
	</div>
	<div class="col-sm-2">
		<a id="customerSerchBtn" class="btn btn-primary btn-sm" href="#" style="margin:0;position: absolute;bottom: 0;">
			<i class="fas fa-folder"></i>&ensp;검색
	    </a> 
	</div>
</div>
</form>
	
<table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
	<thead>
	   	<tr>
	        <th>분류</th>
	        <th>상품명</th>
	        <th>단가</th>
	        <th>상세 정보</th>
	        <th>렌탈 가능 수량</th>
	        <th></th>
	   	</tr>
	</thead>
	<tbody>
		<tr>
			<td id="goodsCategoryName">category</td>
			<td id="goodName">goods_name</td>
			<td id="goodsCode" style="display:none;"></td>
			<td id="rentalDayPrice">price</td>
			<td id="goodsDesc">goods_desc</td>
			<td id="rentalCanCount">rental_can_count</td>
			<td><button id="goodsChoice" class="btn btn-info" type="button">선택</button></td>
		 </tr>
	</tbody>
</table>
