<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <form id="goodsSerch">
 <div class="row" style="margin-bottom:20px">
	<div class="col-sm-2">
		<label class="tel">분류</label>
		<select class="form-control select2bs4" name="goodsCategoryCode">
			<option selected="selected"></option>
			<th:block th:each="CL:${getGoodsCategoryList}">
				<option th:value=${CL.goodsCategoryCode} th:text=${CL.goodsCategoryName}></option>
			</th:block>
		</select>
	</div>
	<div class="col-sm-3">
		<label class="tel">상품명</label>
		<input type="text" class="form-control select2bs4" name="goodsName">
	</div>
	<div class="col-sm-4">
		<label class="tel">상세</label>
		<input type="text" class="form-control select2bs4" name="goodsDesc">
	</div>
	<div class="col-sm-2">
		<a id="goodsSerchBtn" class="btn btn-primary btn-sm" href="#" style="margin:0;position: absolute;bottom: 0;">
			<i class="fas fa-folder"></i>&ensp;검색
	    </a> 
	</div>
</div>
</form>