<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <form id="goodsSerch">
 <div class="row" style="margin-bottom:20px">
	<div class="col-sm-2">
		<label class="tel">분류</label>
		<select class="form-control select2bs4" name="goodsCategoryCode">
			<option selected="selected"></option>
			<th:block th:each="CL:${getGoodsCategoryList}">
				<option th:value=${CL.goodsCategoryCode} th:text=${CL.goodsCategoryName}></option>
			</th:block>
		</select>
	</div>
	<div class="col-sm-3">
		<label class="tel">상품명</label>
		<input type="text" class="form-control select2bs4" name="goodsName">
	</div>
	<div class="col-sm-4">
		<label class="tel">상세</label>
		<input type="text" class="form-control select2bs4" name="goodsDesc">
	</div>
	<div class="col-sm-2">
		<a id="goodsSerchBtn" class="btn btn-primary btn-sm" href="#" style="margin:0;position: absolute;bottom: 0;">
			<i class="fas fa-folder"></i>&ensp;검색
	    </a> 
	</div>
</div>
</form>
<table id="example2" class="goodsModalTable table table-bordered table-hover dataTable" aria-describedby="example2_info">
	<thead>
	   	<tr>
	        <th>분류</th>
	        <th>상품명</th>
	        <th>단가</th>
	        <th>상세 정보</th>
	        <th>렌탈 가능 수량</th>
	        <th></th>
	   	</tr>
	</thead>
	<tbody>
		 <tr th:each="GC:${goodsCountList}">
			<td id="goodsCategoryName" th:text="${GC.goodsCategoryName}"></td>
			<td id="goodsName" th:text="${GC.goodsName}"></td>
			<td id="goodsCode" style="display:none;" th:text="${GC.goodsCode}"></td>
			<td id="rentalDayPrice" th:text="${GC.rentalDayPrice}"></td>
			<td id="goodsDesc" th:text="${GC.goodsDesc}"></td>
			<td id="rentalCanCount" th:text="${GC.rentalCanCount}"></td>
			<td><button id="goodsChoice" class="btn btn-info" type="button">선택</button></td>
		 </tr>
	</tbody>
</table>