<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form id="setSerch">
 <div class="row" style="margin-bottom:20px">
	<div class="col-sm-3">
		<label class="tel">세트명</label>
		<div style="display:inline-block;">
			<input type="text" class="form-control select2bs4" name="goodsCategoryName">
		</div>	
	</div>
	<div class="col-sm-4">
		<label class="tel">세트 내역</label>
		<div style="display:inline-block;">
			<input type="text" class="form-control select2bs4" name="setSerch">
		</div>	
	</div>
	<div class="col-sm-2">
		<a id="setSerchBtn" class="btn btn-primary btn-sm" href="#" style="margin:0;position: absolute;bottom: 0;">
			<i class="fas fa-folder"></i>&ensp;검색
	    </a> 
	</div>
</div>
</form>
