<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <table id="example2" class="staffModalTable table table-bordered table-hover">
   		<thead>
        	<tr>
                <th>지점</th>
                <th>직책</th>
                <th>직원 명</th>
                <th>생년월일</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>권한</th>
                <th></th>
        	</tr>
        </thead>
        <tbody>
         <tr th:each="L:${staffList}">
           <td id="branchName" th:text="${L.branchName}"></td>
           <td id="staffPosition" th:text="${L.staffPosition}"></td>
           <td id="staffName" th:text="${L.staffName}"></td>
           <td id="staffBirth" th:text="${L.staffBirth}"></td>
           <td id="staffTell" th:text="${L.staffTell}"></td>
           <td id="staffEmail" th:text="${L.staffEmail}"></td>
           <td id="staffLevel" th:text="${L.staffLevel}"></td>
           <td><button id="staffChoice" class="btn btn-info" type="button">선택</button></td>
         </tr>
        </tbody>
	</table>

